.about {

  .hero {

    .hero__heading {
      /*margin-top: -20rem;*/
    }

    .hero__item-container {
      padding-top: 6rem;
    }

    .hero-item {
      text-align: center;
      lost-center: 24rem;

      & + .hero-item {
        margin-top: 8rem;
      }
    }
  }

  .detailed {

    background-color: $dark-primary;

    .detailed__item {

      float: left;
      text-align: center;

      .detailed__header {
        font-size: 2rem;
        padding-top: 1.5rem;
        font-weight: 200;
        text-align: left;
        /*margin-top: 12rem;*/
      }

      .detailed__content {
        /*margin-top: -2rem;*/
        text-align: left;
        font-weight: 200;
        color: $light-primary;
      }

    }

  }

  .team {

    .team__heading {
      /*margin-top: -20rem;*/
    }

    .team__members-container {
      padding-top: 6rem;
    }

    .member {

      .member__avatar-container {
        lost-center: 24rem;
        padding-bottom: 2rem;
      }

      .member__avatar {
        border-radius: 100%;
        border: $stroke-width solid $accent-primary;
      }

      .member__name {
        color: $accent-primary;
      }

      .member__bio {
        font-weight: 400;
      }

      & + .member {
        margin-top: 8rem;
      }
    }
  }

  .testimonial {
    background-color: #77a080;
  }
}

@media (--xsmall) {

  .about {

    .hero {

      margin-top: -4rem;
      .hero__heading {
        margin-top: 2rem;
        margin-bottom: -3rem;
      }

      .hero__item-container {

      }

      .hero-item {

        & + .hero-item {

        }

        .hero-item__body {
          margin-bottom: -4rem;
        }
      }
    }

    .detailed {

      .wrap {
        padding-top: 4rem;
      }
      margin-top: 10rem;
      margin-bottom: 10rem;
      padding-bottom: 0rem;

      .detailed__item {

        .detailed__header {
          margin-top: 3rem;
        }

        .detailed__content {
          margin-top: 2rem;

        }
      }
    }

    .team {

      .team__heading {
        margin-top: -8rem;
        margin-bottom: -2rem;
      }

      .team__members-container {

      }

      .member {

        .member__avatar-container {

        }

        .member__avatar {

        }

        .member__name {

        }

        .member__bio {
          font-size: 1.6rem;
        }

        & + .member {

        }
      }
    }
  }
}

@media (--small) {

  .about {

    .hero {

      margin-top: -6rem;
      .hero__heading {

      }
    }

    .detailed {


    }

    .team {

      .team__heading {
        margin-top: -9rem;
      }
    }
  }
}

@media (--medium) {

  .about {

    .hero {

      .hero__heading {
        margin-top: 5rem;
      }

      .hero__item-container {
        lost-utility: clearfix;
      }

      .hero-item {
        max-width: none;
        lost-column: 1/3 3 4rem;

        .hero-item__body {
          font-weight: 400;
        }

        & + .hero-item {
          margin-top: 0;
        }
      }
    }

    .detailed {

      margin-top: 4rem;

      .detailed__item {


        .detailed__header {
          margin-top: 4rem;
          line-height: 3rem;
        }

        .detailed__content {

        }
      }
    }

    .team {

      .team__heading {
        margin-top: -10rem;
      }

      .member {

        .member__group {
          lost-center: 100% flex;
          align-items: center;
        }

        .member__avatar-container {
          lost-column: 1/3 2 6rem;
        }

        .member__bio {
          font-size: 2rem;
        }

        .member__content {
          lost-column: 2/3 2 6rem;
        }
      }
    }
  }
}

@media (--medium-large) {
  .about {

    .detailed {

      .wrap {
        padding-bottom: 4rem;
      }

      margin-top: 3rem;

      .detailed__item {

        padding-left: 2rem;
        padding-right: 2rem;

        .detailed__content {

          margin-top: 2rem;
        }
      }
    }

    .team {

      .team__heading {
        margin-top: -12rem;
      }
    }
  }
}

@media (--large) {
  .about {

    .detailed {

      .detailed__heading {
        padding-right: 8rem;
      }
    }

    .team {

      .member {

        .member__group {
          align-items: flex-start;
        }

        .member__avatar-container {
          lost-column: 1/4 2 5rem;
        }

        .member__content {
          padding-top: 2rem;
          lost-column: 3/4 2 5rem;
        }
      }
    }
  }
}
