.booking {

  .hero {

    .hero__content {

      .hero__booking-logo {

      }
      h3 {
        color: $dark-primary;
      }
    }
  }

  .logo {

    .logo__image {

      float: right;
    }
  }

  .divider {

    .divider__row {
      color: $accent-primary;
      border-bottom: 3px solid $accent-primary;
    }
  }

  .selection {

    .selection__content {

      .selection__header {
        text-transform: none;
      }

      .booking__button-ab-link {

      }

      a.booking__button-ab-link:hover {
        background-color: $grey-tertiary;
      }

      .booking__button-bc-link {

      }

      a.booking__button-bc-link:hover {
        background-color: $grey-tertiary;
      }

      .selection__body {

        a:hover {
          color: $grey-tertiary;
        }
      }
    }
  }
/*
  .accepting {

    background-color: $accent-primary;
    .accepting__content {

      h2 {
        color: $light-primary;
      }
      .accepting__locations {

        padding-top: 3.5rem;
        h3 {
          color: $light-primary;
          a {
            color: $light-primary;
          }
        }
      }
    }
  }*/

  .overflow {

    padding-bottom: 4rem;
    background-color: $accent-primary;

    .overflow__content {
      margin-bottom: 0rem;
      color: $light-primary;
      line-height: 120%;

      #gform_confirmation_wrapper_4 {
        line-height: 3rem;
        padding-top: 0rem;
        padding-bottom: 0rem;
      }
      /* Required Field Asterik */
      .gfield_required {
        display: none;
      }

      .gform_wrapper {
        width:  100%;
        margin: auto;
        /*margin-top: 15rem;*/
      }

      .gform_wrapper .top_label .gfield_label {
        color: $light-primary;
      }

      .gfield.gfield_error.gfield_html/*.field_html_formatted.gfield_no_follows_desc.field_sublabel_below.field_description_below.gfield_visibility_visible*/ {
        background-color: $accent-primary;
        border: 1px solid $accent-primary;
      }

      .gfield.gfield_error.gf_left_half.field_sublabel_below.field_description_below.gfield_visibility_visible {
        background-color: $accent-primary;
        border: 1px solid $accent-primary;
      }

      .gfield.gfield_error.gf_right_half.field_sublabel_below.field_description_below.gfield_visibility_visible {
        background-color: $accent-primary;
        border: 1px solid $accent-primary;
      }

      .gfield_description.validation_message {
        font-size: 2rem;
      }

      /* All Default Fields */
      .gform_wrapper .gform_body .gform_fields .gfield input[type=text] {
        border: 1px solid $dark-primary;
        /*box-shadow: 2px 2px 2px 2px $dark-primary;*/
        color: $dark-primary;
        font-weight: 200;
        padding-left: 2rem;
      }

      /* Form Footer */
      .gform_wrapper .gform_footer {
        margin-top: 0rem;
        margin-bottom: 0rem;
      }

      /* Submit Button */
      .gform_wrapper .gform_footer input[type="submit"] {
        display: block;
        margin: auto;
        background-color: $dark-primary;
      }

      .validation_error {
        color: $light-primary;
        border-top: 2px solid $light-primary;
        border-bottom: 2px solid $light-primary;
      }

      .validation_message {
        color: $light-primary;
      }

      li.gfield.gfield_error {
        background-color: $dark-primary;
        border-top: 1px solid $dark-primary;
        border-bottom: 1px solid $dark-primary;
      }

      /* Confirmation Message */
      .gform_confirmation_message {
        text-align: center;
        color: $light-primary;
        width: 90%;
        padding-left: 10%;
      }

      #gform_submit_button_4:hover {
        background-color: $light-primary;
        color: $grey-tertiary;
      }
    }
  }

  .informal {
    background-color: $dark-primary;

    .informal__content {

      .informal__heading {
        color: $light-primary;
        font-weight: 500;
      }

      .informal__body {
        font-weight: 300;
      }

      p {
        color: $light-primary;
      }

      h2 {
        color: $light-primary;
      }

      li {
        color: $light-primary;
      }

      li a {
        color: $accent-primary;
      }

      li a:hover {
        color: $light-primary
      }
    }
  }
}

@media (--xsmall) {
  .booking {

    .hero {

      .hero__content {

        .hero__booking-logo {
          display: none;
        }
      }
    }
    .logo {

      .logo__image {
        display: none;
      }
    }
    .divider {

      .divider__row {

        display: none;
      }
    }

    .selection {

      padding-bottom: 0rem;
      .selection__content {

        .selection__header {

          margin-top: -10rem;
          text-align: center;
          font-size: 2.2rem;
        }

        .booking__button-ab-link {

          width: 100%;
        }

        .booking__button-bc-link {

          width: 100%;
        }

        .selection__body {
          margin-top: 6rem;
          font-size: 1.5rem;
        }
      }
    }

    .overflow {

      margin-top: 0rem;

      .wrap {
        padding-bottom: 5rem;
      }

      .overflow__content {

        width: 100%;
        padding-bottom: -5rem;
        font-size: 2rem;
        /*margin-left: 3rem;*/

        .gform_confirmation_message_4.gform_confirmation_message {
            padding-top: 2rem;
        }

        #gform_confirmation_wrapper_4 {
          font-size: 1.45rem;
        }

        .gform_wrapper .gform_footer input[type=submit] {

          width: 60%;
          margin-top: 2rem;
        }

        .gform_confirmation_message {
          padding-top: 5rem;
        }
      }
    }

    .informal {

      .informal__content {

        .informal__heading {

        }

        .informal__body {

          font-size: 1.4rem;
        }
      }
    }
  }
}

@media (--small) {
  .booking {

    .selection {

      .selection__content {

        .selection__header {

          margin-top: -13rem;
          font-size: 2.5rem;
        }
      }
    }

    .overflow {

      .wrap {

        padding-bottom: 8rem;
      }

      .overflow__content {

        #gform_confirmation_wrapper_4 {
          font-size: 1.8rem;
        }

        .gform_wrapper .gform_footer input[type=submit] {

          width: 50%;
        }
      }
    }
  }
}

@media (--medium) {
  .booking {

    .hero {

      .wrap {

        padding-bottom: 10rem;
        .hero__content {

          margin-bottom: -5rem;
          .hero__booking-logo {
            display: inline;
            width: 30%;
            padding-bottom: 4rem;
          }

          .hero__booking_info {
            width: 60%;
          }
        }
      }
    }

    .logo {

      .logo__image {

        display: inherit;
        margin-top: -35rem;
        margin-right: -15rem;
        width: 48%;
        max-width: 410px;
      }
    }
    .divider {

      .divider__content {

        margin-top: 5rem;
        padding-bottom: 0rem;
        .divider__row {

          display: inherit;
          margin-left: 42%;
          margin-right: 22%;
        }
      }
    }

    .selection {

      .selection__content {

        .selection__header {

          margin-top: -15.5rem;
          text-align: left;
          font-size: 2.2rem;
        }

        .booking__button-ab-link {
          float: left;
          font-size: 1.8rem;
          width: 35%;
        }

        .booking__button-bc-link {

          margin-left: 2rem;
          font-size: 1.8rem;
          width: 35%;
          margin-top: 2.8rem !important;
        }

        .selection__body {

          margin-top: 6rem;
        }
      }
    }
    /*
    .accepting {

      .accepting__content {

        margin-top: -3rem;
        .accepting__locations {
          h3 {
            float: left;
            width: 50%;
          }
        }
      }
    }*/

    .overflow {

      .overflow__content {

        /*margin-left: 5rem;*/
        width: 100%;
        #gform_confirmation_message_4 {

          padding-top: 0rem;
          padding-bottom: 0rem;
        }
      }
    }

    .informal {

      margin-top: -3rem;
      .informal__content {
        margin-top: -3rem;
        margin-bottom: -2rem;
        p {
          font-size: 2rem;
        }

        li {
          font-size: 2.3rem;
        }
      }
    }
  }
}

@media (--medium-large) {
  .booking {

    .hero {

      .hero__content {

        .hero__booking_info {
          width: 55%;
        }
      }
    }

    .logo {

      .logo__image {

        margin-top: -35rem;
        margin-right: -14rem;
        width: 48%;
        max-width: 410px;
      }
    }
    .divider {

      .divider__content {

        margin-top: 5rem;
        padding-bottom: 0rem;
        .divider__row {

          margin-left: 42%;
          margin-right: 19.5%;
        }
      }
    }

    .selection {

      .wrap {

        padding-bottom: 10rem;
      }

      .selection__content {

        .selection__header {

          margin-top: -20rem;
          font-size: 2.7rem;
        }

        .booking__button-ab-link {
          float: left;
          font-size: 1.8rem;
          width: 35%;
          margin-top: 1.4rem !important;
        }

        .booking__button-bc-link {

          margin-left: 2rem;
          font-size: 1.8rem;
          width: 35%;
          margin-top: 2.8rem !important;
        }

        .selection__body {
          margin-top: 1rem;
        }
      }
    }
    /*
    .accepting {

      margin-top: 4rem;
      .accepting__content {
        margin-top: -3rem;
        .accepting__locations {

        }
      }
    }
*/
    .overflow {

      .wrap {

        padding-top: 10rem;
        padding-bottom: 10rem;
      }

      .overflow__content {

        #gform_fields_4 p {
          font-size: 2rem;
        }

        .overflow__header {
          font-size: 2rem;
        }

        font-size: 3rem;
        width: 100%;

        .ginput_container.ginput_container_text {
          font-size: 2rem;
        }

        .ginput_container.ginput_container_email {
          font-size: 2rem;
        }

        .ginput_container.ginput_container_phone {
          font-size: 2rem;
        }

        .gform_button.button {
          font-size: 2rem;
        }
      }
    }

    .informal {
      margin-top: -5rem;

      .informal__content {
        margin-top: -5rem;
        margin-bottom: -5rem;
      }
    }
  }
}

@media (--large) {
  .booking {
/*
    .accepting {

      .accepting__content {

        .accepting__locations {

        }
      }
    }
    */
    .hero {

      .hero__content {

        .hero__booking_info {
          margin-bottom: 10rem;

        }
      }
    }
    .logo {

      .logo__image {

        margin-top: -42rem;
        margin-right: -14rem;
        width: 40%;
        max-width: 550px;
      }
    }
    .divider {

      .divider__content {

        margin-top: 5rem;
        padding-bottom: 0rem;
        .divider__row {

          margin-left: 43%;
          margin-right: 21.5%;
        }
      }
    }

    .selection {

      .wrap {
        padding-bottom: 5rem;
      }

      .selection__content {

        .selection__header {

          margin-top: -20rem;
          font-size: 3rem;
        }

        .booking__button-ab-link {
          float: left;
          font-size: 1.8rem;
          width: 35%;
          margin-top: 1rem !important;
        }

        .booking__button-bc-link {

          margin-left: 2rem;
          font-size: 1.8rem;
          width: 35%;
          margin-top: 2rem !important;
        }

        .selection__body {
          margin-top: 1rem;
        }
      }
    }

    .overflow {

      .wrap {
        margin-top: 5rem;
        padding-bottom: 10rem;
      }

      .overflow__container {

        .gform_wrapper.gform_footer.input[type=submit] {

          width: 30%;
        }
      }
    }
  }
}

@media (--xlarge) {
  .booking {
    .divider {

      .divider__content {

        .divider__row {

          margin-left: 43%;
          margin-right: 16%;
        }
      }
    }
  }
}
