.careers {

  .hero {

    .hero__group {

      .hero__content {

        .hero__heading {

          margin-top: 1rem;
        }
      }
    }
  }

  .logo {

    .logo__image {
      float: right;

    }
  }

  .postings {

    background-color: $dark-primary;
    .postings__group {

      .postings__content {

        .postings__body {

          color: $light-primary;

          a:hover {

            color: $light-primary;
          }
        }

        .postings__jobdescription {

        }
      }
    }
  }
}

@media (--xsmall) {

  .careers {

    .logo {

      .logo__image {
        display: none;
      }
    }
  }
}

@media (--small) {

  .careers {

  }
}

@media (--medium) {

  .careers {

    .hero {

      .hero__content {

        .hero__heading {
          margin-bottom: 2rem;
          width: 90%;
        }
      }
    }
  }
}

@media (--medium-large) {

  .careers {

    .hero {

      .hero__content {

      }
    }

    .logo {

      .logo__image {

        display: inline;
        margin-top: -67.5rem;
        margin-right: 11rem;
        max-width: 56%;
        max-height: 53rem;
      }
    }
  }
}

@media (--large) {

  .careers {

    .logo {

      .logo__image {

        display: inline;
        margin-top: -64.5rem;
        margin-right: 11rem;
        max-width: 45%;
        max-height: 49rem;
      }
    }
  }
}

@media (--xlarge) {

  .careers {

  }
}
