.confirmation {

  .content-wrapper {
    overflow-x: visible;
  }
  .hero {

      .hero__group {

        .hero__content {

          h3 {
            text-align: center;

          }
        }
      }
  }
}

@media (--xsmall) {

  .confirmation {

  }
}

@media (--small) {

  .confirmation {

  }
}

@media (--medium) {

  .confirmation {

  }
}

@media (--medium-large) {

  .confirmation {

  }
}

@media (--large) {

  .confirmation {

  }
}

@media (--xlarge) {

  .confirmation {

  }
}
