.contact {

  /*
  .information {

    .information__content {
      margin-bottom: 0rem;
      color: $dark-primary;
      line-height: 120%;
    }
  }*/

  .form {

    padding-bottom: 4rem;
    background-color: $dark-primary;

    .form__content {
      margin-bottom: 0rem;
      color: $light-primary;
      line-height: 120%;
    }

    .form__container {

      /* Required Field Asterik */
      .gfield_required {
        display: none;
      }

      .gform_wrapper {
        width:  100%;
        margin: auto;
        /*margin-top: 15rem;*/
      }

      .gform_wrapper .top_label .gfield_label {
        color: $light-primary;
        font-size: 1.5rem;
        margin-top: 2.5rem;
      }

      /* All Default Fields */
      .gform_wrapper .gform_body .gform_fields .gfield input[type=text] {
        border: 1px solid $light-primary;
        box-shadow: 1px 1px 1px 1px $main-secondary;
        color: $dark-primary;
        font-weight: 400;
        padding-left: 2rem;
      }

      /* Dropdown Gender */
      .gform_wrapper .gform_body .gform_fields .gfield select {
        border: 1px solid $light-primary;
        box-shadow: 1px 1px 1px 1px $main-secondary;
        height: 4rem;
        color: $dark-primary;
        font-weight: 400;
        padding-left: 1.5rem;
        opacity: 0.9;
      }

      /* LP Dropdown */
      .gfield_select {
        width: 100%;
      }

      /* Additional Notes */
      .gform_wrapper .gform_body .gform_fields .gfield textarea {
        border: 1px solid $light-primary;
        box-shadow: 1px 1px 1px 1px $main-secondary;
        color: $dark-primary;
        font-weight: 400;
        padding-left: 2rem;
      }

      /* Form Footer */
      .gform_wrapper .gform_footer {
        margin-top: 0rem;
        margin-bottom: 0rem;
      }

      /* Submit Button */
      .gform_wrapper .gform_footer input[type=submit] {
        display: block;
        margin: auto;
      }

      #gform_submit_button_2:hover {
        background-color: $grey-tertiary;
      }

      .validation_error {
        color: $light-primary;
        border-top: 2px solid $light-primary;
        border-bottom: 2px solid $light-primary;
      }

      .validation_message {
        color: $light-primary;
      }

      li.gfield.gfield_error {
        background-color: $dark-primary;
        border-top: 1px solid $dark-primary;
        border-bottom: 1px solid $dark-primary;
      }

      /* Confirmation Message */
      .gform_confirmation_message {
        text-align: center;
        color: $light-primary;
        width: 90%;
        padding-left: 10%;
      }

      li.gfield {
        margin-top: -5px;
      }
    }
  }

  .brookline {

    background-color: $accent-primary;
    .wrap {

      .brookline__group {

        .brookline__content {

          .brookline__image-container {

            .brookline__image {
              display: none;
            }
          }

          .brookline__text-container {

            .brookline__text {
              color: $light-primary;

              a {
                color: $light-primary;
              }

              a:hover {
                color: $grey-tertiary;
              }
            }
          }
        }
      }
    }
  }
}

@media (--xsmall) {
  .contact {

/*
    .information {

      margin-top: 0rem;
      .information__content {

        width: 85%;
        padding-bottom: -5rem;
        font-size: 2rem;
        margin-left: 3rem;
      }
    }*/

    .iconImages {
      display: none;
    }

    .form {

      margin-top: 0rem;
      .form__content {

        width: 100%;
        padding-bottom: -5rem;
        font-size: 2rem;
        /*margin-left: 3rem;*/
      }

      .form__image {

        display: none;
      }

      .wrap {
        padding-bottom: 5rem;
      }

      .form__container {

        .gform_wrapper .gform_footer input[type=submit] {

          width: 60%;
        }

        .gform_confirmation_message {
          padding-top: 5rem;
        }
      }
    }
    .brookline {

      margin-top: -5rem;
      .wrap {

        .brookline__group {

          .brookline__content {

            .brookline__image-container {

              .brookline__image {

              }
            }

            .brookline__text-container {

              .brookline__text {
                /*padding-top: 3.5rem;
                padding-bottom: 3.5rem;
                padding-left: 4rem;
                padding-right: 4rem;*/
                font-size: 2rem;
              }
            }
          }
        }
      }
    }
  }
}

@media (--small) {
  .contact {

    /*.information {

      margin-top: -5rem;
      .information__content {

        margin-left: 5rem;
      }
    }*/

    .form {

      .form__content {

        /*margin-left: 5rem;*/
      }
      .form__container {

        .gform_wrapper .gform_footer input[type=submit] {

          width: 50%;
        }
      }
    }
    .brookline {

      .wrap {

        .brookline__group {

          .brookline__content {

            .brookline__image-container {

              .brookline__image {

              }
            }

            .brookline__text-container {

              .brookline__text {

              }
            }
          }
        }
      }
    }
  }
}

@media (--medium) {
  .contact {

    /*.information {

      .information__content {

        margin-left: 5rem;
        width: 55%;
      }
    }*/

    /*
    .iconImages {

      display: initial;
      .iconImages__image {
        max-width: 80%;
        max-height: 50%;
        float: right;
        margin-top: -90rem;
        margin-right: 0rem;
      }
    }*/

    .form {

      padding-left: 12rem;
      padding-right: 12rem;
      .wrap {
        margin-top: 10rem;
      }

      .form__body {
        margin-top: -2rem;
      }

      .form__content {

        /*margin-left: 5rem;*/
        width: 100%;
      }

      .form__image {
        display: initial;
        max-width: 90%;
        max-height: 50%;
        float: right;
        margin-top: -74rem;
        margin-right: 0rem;
      }

      .form__container {

        .form__body {
          padding-top: 0rem;
        }

        .gform_confirmation_message {
          padding-top: 0rem;
          padding-bottom: 0rem;
        }
      }
    }
    .brookline {

      .wrap {
        padding-top: 5rem;
        padding-bottom: 5rem;
        .brookline__group {

          .brookline__content {
            padding-bottom: 2rem;
            .brookline__image-container {

              .brookline__image {
                display: inline;
                width: 20rem;
                padding-left: 1rem;
                padding-right: 1rem;
                padding-top: 2rem;
                padding-bottom: 0rem;
                float: left;

              }
            }

            .brookline__text-container {

              .brookline__text {
                padding-left: 22rem;
              }
            }
          }
        }
      }
    }
  }
}

@media (--medium-large) {
  .contact {
    /*.information {

      margin-top: -10rem;
      .information__content {
        font-size: 3rem;
        margin-left: 7rem;
        width: 60%;
      }

    }*/

    /*.iconImages {

      .iconImages__image {
        max-width: 85%;
        margin-top: -100rem;
        margin-right: 0rem;
      }
    }*/

    .form {

      padding-left: 18rem;
      padding-right: 18rem;
      .wrap {
        margin-top: 11rem;
      }

      .form__body {
        margin-top: -4rem;
      }

      .form__content {
        font-size: 3rem;
        /*margin-left: 7rem;*/
        width: 100%;
      }

      .form__image {
        max-width: 85%;
        margin-top: -80rem;
        margin-right: 0rem;
      }

      .form__container {

      }
    }
    .brookline {

      .wrap {

        padding-bottom: 2rem;
        .brookline__group {

          .brookline__content {
            padding-bottom: 3.5rem;
            .brookline__image-container {

              .brookline__image {
                width: 30rem;
                max-width: 30rem;
                margin-left: 2rem;
                padding-top: 2rem;
              }
            }

            .brookline__text-container {

              .brookline__text {
                font-size: 2.5rem;
                padding-left: 35rem;
                padding-right: 0rem;
              }
            }
          }
        }
      }
    }
  }
}

@media (--large) {
  .contact {

    /*.iconImages {

      .iconImages__image {
        margin-top: -105rem;
        max-width: 80%;
      }
    }*/

    .form {

      padding-left: 25rem;
      padding-right: 25rem;
      .wrap {
        margin-top: 11rem;
      }

      .form__image {
        margin-top: -77rem;
        max-width: 80%;
      }

      .form__container {

        .gform_wrapper .gform_footer input[type=submit] {

          width: 30%;
        }
      }
    }
    .brookline {

      .wrap {

        .brookline__group {

          .brookline__content {

            .brookline__image-container {

              .brookline__image {
                width: 30rem;
                padding-top: 0rem;
              }
            }

            .brookline__text-container {

              .brookline__text {
                padding-left: 35rem;
              }
            }
          }
        }
      }
    }
  }
}

@media (--xlarge) {
  .contact {

    /*.iconImages {

      .iconImages__image {
        margin-top: -105rem;
        max-width: 75%;
      }
    }*/

    .form {

      padding-left: 40rem;
      padding-right: 40rem;
      .form__image {
        margin-top: -75rem;
        max-width: 85%;
      }
    }

    .brookline {

      .wrap {
        padding-bottom: 5rem;
        padding-top: 5rem;
        .brookline__group {

          .brookline__content {

            .brookline__image-container {

              .brookline__image {

              }
            }

            .brookline__text-container {

              .brookline__text {
                min-height: 6rem;
                font-size: 2.5rem;
              }
            }
          }
        }
      }
    }
  }
}
