.doctor {

  .hero {

    .hero__heading {
      margin-top: 0rem;
      margin-bottom: 0rem;
      color: $dark-primary;
      /*width: 55%;*/
      /*font-size: 3rem;*/
    }
  }

  .headerimage {
    .headerimage__laptop-img {
      position: absolute;

      /*opacity: 0.9;*/
    }
  }

  .why {

    background-color: $dark-primary;
    .why__subheading {
      color: $light-primary;
      display: inline-block;
      padding-left: 3rem;
      line-height: 4rem;
      margin-top: 1.5rem;
    }

    .why__body {
      color: $light-primary;
      line-height: 200%;
    }

    .why__button:hover {
      background-color: $grey-tertiary;
    }
  }

  .benefits {

    .benefits__group {
      margin-top: -25rem;
    }

    .benefits__heading {
      color: $accent-primary;
      /*font-size: 3.5rem;*/
      display: inline-block;
      padding-left: 3rem;
      line-height: 1;
      /*margin-top: 8rem;*/
    }

    .benefits__icon {
      position: absolute;
      right: 6rem;
      top: calc(50% - 5.5rem);
      width: 60rem;
      height: auto;
      opacity: 0.2;
    }

  }
  /*
  .independence {
    background-color: $accent-primary;
    color: #fff;
    /*margin-top: -20rem;*//*
    .independence__heading {
      margin-top: -6rem;
      font-size: 3rem;
    }

    .independence__group {

      padding-top: 4rem;

      .independence__bullet {

        position: absolute;
        width: 2.5rem;
        padding-top: 1rem;
      }

      .independence__item {

        padding-left: 5rem;
        font-size: 2.2rem;
        font-weight: 400;
      }
    }

    .independence__items-container {
      margin-bottom: -2rem;
    }
  }

  .payment {
    .payment__heading {
      margin-top: -6rem;
      font-size: 3rem;
      color: #77A080;
    }

    .payment__group {

      padding-top: 4rem;

      .payment__bullet {

        position: absolute;
        width: 2.5rem;
        padding-top: 1rem;
      }

      .payment__item {

        padding-left: 5rem;
        font-size: 2.2rem;
        font-weight: 400;
      }
    }

    .payment__items-container {
      margin-bottom: -2rem;
    }
  }
*/
  .comfort {
    background-color: $accent-primary;
    color: #fff;
    margin-top: -17rem;
    .comfort__heading {
      margin-top: -6rem;
      font-size: 3rem;
    }

    .comfort__group {

      padding-top: 4rem;

      .comfort__bullet {

        position: absolute;
        width: 2.5rem;
        padding-top: 1rem;
      }

      .comfort__item {

        padding-left: 5rem;
        font-size: 2.2rem;
        font-weight: 400;
      }
    }

    .comfort__items-container {
      margin-bottom: -2rem;
    }
  }

  .flex {
    .flex__heading {
      color: #77A080;
      margin-top: -6rem;
      font-size: 3rem;
    }

    .flex__group {

      padding-top: 4rem;

      .flex__bullet {

        position: absolute;
        width: 2.5rem;
        padding-top: 1rem;
      }

      .flex__item {
        padding-left: 5rem;
        font-size: 2.2rem;
        font-weight: 400;
      }
    }

    .flex__items-container {
      margin-bottom: -2rem;
    }
  }

  .security {

    background-color: $accent-primary;
    color: #fff;
    .security__heading {
      margin-top: -6rem;
      font-size: 3rem;
      color: #fff;
    }

    .security__group {

      padding-top: 4rem;

      .security__bullet {

        position: absolute;
        width: 2.5rem;
        padding-top: 1rem;
      }

      .security__item {

        padding-left: 5rem;
        font-size: 2.2rem;
        font-weight: 400;
      }
    }

    .security__items-container {
      margin-bottom: -2rem;
    }
  }

  .doctorcontact {
    background-color: #35363A;
    color: #fff;
    text-align: center;
    .doctorcontact__group {

      margin-top: -10rem;
      margin-bottom: -7rem;

      .doctorcontact__avatar {
        display: none;
        /*margin: auto;
        border-radius: 50%;
        width: 13rem;
        height: 13rem;*/
      }

      .doctorcontact__info {
        padding-top: 3rem;
        padding-bottom: 6rem;
        font-size: 1.3rem;
        font-weight: 400;
        .doctorcontact__name {
          display: none;
          /*margin-top: -3px;
          margin-bottom: 5px;
          color: #77A080;*/
        }
        .doctorcontact__title {
          display: none;
        }
        .doctorcontact__email {
          display: none;
          /*margin-top: -3px;*/
        }
        .doctorcontact__phone {
          display: none;
          /*margin-top: -3px;/
        }
      }

      .doctorcontact__content {
        .doctorcontact__body {
          font-weight: bold;
          /*font-size: 2rem;*/
        }
      }

      .doctorcontact__input {

        a {
          background-color: $accent-primary;
          color: $light-primary;
          padding: 1rem 6rem 1rem 6rem;
          border-radius: 1rem;
        }

        a:hover {
          background-color: $grey-tertiary;
        }
      }
    }
  }
}

@media (--xsmall) {

  .hero {

    .hero__heading {
      font-size: 2.5rem;
      line-height: 3.5rem;
      margin-top: 3rem;
    }
  }

  .headerimage {

    .headerimage__laptop-img {

      display: none;
    }
  }

  .why {

    .why__subheading {

      font-size: 2.5rem;
      margin-top: -3rem;
      margin-bottom: 3rem;
    }

    .why__body {

    }
  }

  .benefits {

    .benefits__heading {
      margin-top: 25rem;
      margin-bottom: 16rem;
      font-size: 2.8rem;
    }
  }
/*
  .independence {
    margin-top: -10rem;
    padding-top: 5rem;
  }

  .payment {
    margin-top: 0rem;
    padding-top: 5rem;
  }
  */
  .comfort {
    margin-top: 0rem;
    padding-top: 5rem;
  }

  .flex {
    margin-top: 2rem;
    padding-top: 5rem;
  }

  .security {
    margin-top: 0rem;
    padding-top: 5rem;
  }

  .doctorcontact {
    padding-bottom: 8rem;
    .doctorcontact__avatar-container {
      padding-top: 8rem;
    }
    .doctorcontact__content {
      margin-top: 2rem;
      .doctorcontact__body {
        font-size: 1.5rem;
        padding-bottom: 6.6rem;
        margin-top: -3rem;
      }
    }

    .doctorcontact__input {

      .doctorcontact__button {
        width: 80%;
        margin-top: -2rem;
        margin-bottom: 5rem;
      }
    }
  }
}

@media (--small) {

  .comfort {
    margin-top: -13rem;
  }
}

@media (--medium) {

  .hero {

    .hero__heading {
      width: 55%;
    }
  }

  .headerimage {
    .headerimage__laptop-img {
      display: inline;
      right: 2rem;
      top: 1.5rem;
      width: 43%;
      height: auto;
    }
  }

  .why {

    .why__group {
      margin-top: -4rem;

    }
    .why__subheading {
      margin-top: -5rem;
    }
  }

  .benefits {

    .benefits__heading {
      font-size: 3.5rem;
    }
  }

  .comfort {
    margin-top: -16rem;
  }

  .doctorcontact {
    padding-bottom: 4rem;
    .doctorcontact__avatar-container {
      padding-top: 4rem;
    }
    .doctorcontact__content {
      margin-top: 2rem;
      .doctorcontact__body {
        font-size: 2rem;
        padding-bottom: 4.6rem;
        margin-top: -3rem;
      }
    }

    .doctorcontact__input {

      .doctorcontact__button {
        width: 50%;
        margin-top: 0rem;
        margin-bottom: 1rem;
      }
    }
  }
}

@media (--medium-large) {

  .hero {

    margin-bottom: -5rem;

    .hero__heading {
      margin-top: 2rem;
      width: 64%;
      font-size: 3.5rem;
      line-height: 4.5rem;
    }


  }

  .headerimage {
    .headerimage__laptop-img {

      width: 38%;
    }
  }

  .why {

    .why__subheading {
      margin-top: -5rem;

    }

    .why__body {

      margin-bottom: -2rem;
    }

    .why__button {
      margin-bottom: 0rem;
    }
  }

  .benefits {

    .benefits__heading {

      margin-top: 20rem;
      margin-bottom: 12rem;
    }
  }
}

@media (--large) {

  .headerimage {
    .headerimage__laptop-img {
      opacity: 0.9;
    }
  }

  .why {
    .why__subheading {
      font-size: 3rem;
    }
  }

  .benefits {
    .benefits__heading {
      margin-top: 20rem;
      margin-bottom: 12rem;
    }
  }
  .comfort {
    margin-top: -20rem;
  }

  .doctorcontact {
    .doctorcontact__avatar-container {

    }
    .doctorcontact__content {

      .doctorcontact__body {

      }
    }

    .doctorcontact__input {

      .doctorcontact__button {
        width: 30%;
      }
    }
  }
}
