.franchise {

  .hero {

    .hero__heading {
      color: $accent-primary;
    }
  }

  .stat {
    background-color: $grey-primary;

    .stat__heading {
      color: $light-primary;
      margin-bottom: 2rem;
    }
  }

  .store {

    .store__heading {
      margin-bottom: 0;
    }

    .store__count,
    .store__body {
      color: $accent-primary;
    }

    .store__count {
      font-size: 10rem;
      display: inline-block;
      padding-left: 6.5rem;
      line-height: 1;
    }

    .store__body {
      padding-top: 4rem;
    }
  }

  .closer {
    background-color: $dark-primary;
    h2 {
      color: $light-primary;
    }
  }

  .form {

    .form__header {
      margin-bottom: 4rem;
    }

    .form__heading {
      text-transform: none;
      text-align: center;
      color: $grey-tertiary;
    }

    .form__container {

      .inner {
        lost-utility: clearfix;
      }

      .group {
        lost-column: 1;

        &.wide {
          lost-column: 1;
        }
      }
    }
  }
}

.contactform {
  background-color: #35363A;
  color: #fff;
  text-align: center;
  .contactform__group {

    margin-top: -100px;
    margin-bottom: -70px;

    .contactform__avatar {
      display: block;
      margin: auto;
      border-radius: 50%;
      width: 13rem;
      height: 13rem;
    }

    .contactform__info {
      padding-top: 30px;
      padding-bottom: 25px;
      font-size: 1.3rem;
      font-weight: 400;
      .contactform__name {
        margin-top: -3px;
        margin-bottom: 5px;
        color: #77A080;
      }
      .contactform__email {
        margin-top: -3px;
      }
      .contactform__phone {
        margin-top: -3px;
      }
    }

    .contactform__content {
      .contactform__body {
        font-weight: bold;
        /*font-size: 2rem;*/
      }
    }

    .contactform__input {

      a {
        background-color: $accent-primary;
        color: $light-primary;
        padding: 1rem 6rem 1rem 6rem;
        border-radius: 1rem;
      }
    }
  }
}

@media (--xsmall) {

  .contactform {
    padding-bottom: 8rem;
    .contactform__avatar-container {
      padding-top: 8rem;
    }
    .contactform__content {
      margin-top: 2rem;
      .contactform__body {
        font-size: 1.5rem;
        padding-bottom: 6.6rem;
        margin-top: -4rem;
      }
    }

    .contactform__input {

      .contactform__button {
        width: 80%;
        margin-bottom: 6rem;
      }
    }
  }
}

@media (--medium) {
  .franchise {

    .hero {
      position: relative;

      .hero__heading {
        width: 44rem;
      }

      .hero__icon {
        display: block;
        position: absolute;
        right: -6rem;;
        bottom: 0;
        width: 30rem;
        height: auto;
      }

    }

    .store {
      position: relative;

      .store__count {
        font-size: 18rem;
      }

      .store__body {
        padding-top: 8rem;
        width: 60rem;
      }

      .store__map {
        display: block;
        position: absolute;
        top: -10rem;
        right: -10rem;
        width: 50rem;
        height: auto;
      }

    }

    .form {

      .form__container {
        padding: 4rem;
    		/*box-shadow: 0 .3rem .8rem 0 rgba($dark-primary, 0.2);
        border-radius: $border-radius;*/

        .group {
          lost-column: 1/2;
        }
      }
    }

    .contactform {
      padding-bottom: 4rem;
      .contactform__avatar-container {
        padding-top: 4rem;
      }
      .contactform__content {
        margin-top: 2rem;
        .contactform__body {
          font-size: 2rem;
          padding-bottom: 4rem;
          margin-top: -3rem;
          width: 70%;
          margin: 0 auto;
        }
      }
      .contactform__input {

        .contactform__button {
          width: 50%;
        }
      }
    }
  }
}

@media (--medium-large) {
  .franchise {

    .hero {

      & > .wrap {
        position: relative;
      }

      .hero__heading {
        width: 54rem;
        margin-top: 4rem;
      }

      .hero__icon {
        right: -10rem;
        bottom: 0;
        width: 40rem;
      }
    }

    .stat {

      .stat__heading {
        width: 64rem;
        margin-top: -2rem;
        margin-bottom: -2rem;
      }
    }

    .store {

      & > .wrap {
        position: relative;
      }

      .store__map {
        top: -14rem;
        right: -14rem;
        width: 64rem;
      }
    }

    .closer {

      h2 {
        margin-top: -6rem;
        margin-bottom: -4rem;
      }
    }

    .form {

      & > .wrap {
        padding-top: 0;
      }

      .form__header {
        margin-top: 8rem;
        margin-bottom: 8rem;
      }

      .form__container {
        padding-left: 9rem;
        padding-right: 9rem;

        .group {
          lost-column: 1/2 2 6rem;
        }
      }
    }

    .closer {

      .closer__heading {
        width: 78rem;
      }
    }
  }
}

@media (--large) {
  .franchise {

    .store {

      .store__body {
        width: 78rem;
      }
    }
  }
}
