.home {

  .hero {
    background-image: url('/wp-content/themes/ccc/dist/img/bg-hero.jpg');
    color: $light-primary;

    .hero__heading {
      color: $light-primary;
      width: 100%;

    }

    #hero__booking-button:hover {
      background-color: $dark-primary;
    }
  }

  .btn-mod hero__button-link input-health {
    margin-top: 10rem;
  }

  .callout {
    background-image: url('/wp-content/themes/ccc/dist/img/bg-arrows.png');
    background-position: center;
    background-size: cover;

    text-align: center;
    color: $accent-primary;
    border-bottom: $stroke-width--thin solid rgba($grey-primary, 0.2);

    .callout__heading {
      margin-bottom: 0;
    }
  }

  .latest {
    background-color: #393939;

    #slide-home__button:hover {
      background-color: $grey-tertiary;
    }

    #booking-home__slide:hover {
      background-color: $grey-tertiary;
    }
  }

  .about {

    .about__logo {
      width: 24rem;
      margin-bottom: 4rem;
    }

    .about__heading {
      margin-bottom: 15rem;
    }

    .feature {

      .feature__group {
        margin-top: -8rem;
      }

      .feature__content {

      }

      .feature__heading {
        color: $accent-primary;
      }

      .feature__image {
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 6.5rem;
      }

      & + .feature {
        margin-top: 8rem;
      }
    }
  }

  .investment {

    .investment__heading {

      color: $dark-primary;
    }

    .items {

      .items__group {

      }

      .items__content {
        margin-top: -2rem;
      }

      .items__subheading {
        color: $accent-primary;
      }

      .items__image {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }

      & + .items {
        margin-top: 8rem;
      }
    }
  }
}

@media (--xsmall) {

  .home {

    .hero {

      .hero__heading {

        padding-bottom: -2rem;
      }
    }

    .feature {

      .feature__group {

      }

      .feature__content {

      }

      .feature__heading {
        margin-top: 12rem;
      }

      .feature__image {
        display: none;
      }

      & + .feature {

      }
    }
  }

  .about {

    margin-bottom: -6rem;
  }

  .investment {

    .investment__heading {

      margin-bottom: 6rem;
    }

    .items__image {
      display: none;
    }
  }
}

@media (--small) {
  .home {

  }
}

@media (--medium) {
  .home {

    .hero {

      .hero__heading {

        padding-bottom: 8rem;
      }

      .hero__group {
        lost-center: 100% flex;
        align-items: center;
        z-index: 4;
      }

      .hero__content{
        lost-column: 2/3;
      }

      .hero__image-container {
        lost-column: 1/3;
      }

      .hero__image {
        display: block;
      }
    }

    .about {

      margin-bottom: -15rem;
      .feature {

        .feature__group {
          lost-center: 100% flex;
          align-items: center;
        }

        .feature__heading {
          margin-top: 2rem;
        }

        .feature__image {
          display: initial;
          width: 7rem;
          height: auto;
        }

        .feature__image-container {
          lost-column: 1/6;
        }

        .feature__content {
          lost-column: 5/6;
        }
      }
    }

    .investment {

      margin-top: -10rem;
      .items__group {
        lost-center: 100% flex;
        align-items: center;
      }

      .items__image-container {
        lost-column: 1/6;
      }

      .items__content {
        lost-column: 5/6;
      }

      .items__image {
        display: block;
      }
    }
  }
}

@media (--medium-large) {
  .home {

    .hero {

      .hero__content {
        lost-column: 3/5 2 4rem;
      }

      .hero__image-container {
        lost-column: 2/5 2 4rem;
      }
    }

    .callout {

      .callout__heading {
        padding: 6rem 0;
      }
    }

    .about {

      margin-bottom: -25rem;

      .about__group {
        position: relative;
        lost-utility: clearfix;
      }

      .about__content {
        lost-column: 7/10;
      }

      .about__image {
        display: block;
        position: absolute;
        right: -25rem;
        top: 20rem;
        width: 50rem;
        height: auto;
        z-index: 0;
      }

      .feature {

        .items__image-container {
          lost-column: 2/6;
        }

        .items__content {
          lost-column: 4/6;
        }

        .feature__image {
          max-width: 200%;
          width: 9.5rem;
          height: auto;
        }

        .feature__content {

          padding-left: 4.5rem;
        }
      }
    }

    .investment {

      .items__group {
        position: relative;
        lost-utility: clearfix;
      }

      .items__content {
        lost-column: 7/10;
      }

      .items__image {
        display: block;
        right: -25rem;
        top: 20rem;
        height: auto;
        z-index: 0;
      }
    }
  }
}

@media (--large) {

  .home {

    .hero {

      .hero__content {
        padding-right: 4rem;
      }
    }

    .callout {

      .callout__heading {
        font-size: 3.5rem;
      }
    }

    .about {

      .about__content {
        lost-column: 6/10;
      }

      .about__image {
        right: -14rem;
        top: 14rem;
        width: 50rem;
      }

      .feature {

        .feature__content {

          padding-left: 6.5rem;
        }
      }
    }

    .investment {

      .item__content {
        lost-column: 6/10;
      }
    }
  }
}
