.invest {

  .hero {

    .hero__heading {
      color: $dark-primary;
      font-size: 3.5rem;
      line-height: 4.5rem;
      font-weight: 700;
    }

    .hero__content {

    }
  }

  .leaf {

    .leaf__image {
      float: right;

    }
  }

  .stat {
    background-color: $grey-primary;

    .stat__heading {
      color: $light-primary;
      margin-bottom: 2rem;
    }
  }

  .store {

    .store__heading {
      margin-bottom: 0;
    }

    .store__count,
    .store__body {
      color: $accent-primary;
    }

    .store__count {
      font-size: 10rem;
      display: inline-block;
      padding-left: 6.5rem;
      line-height: 1;
    }

    .store__body {
      padding-top: 4rem;
    }

    .wrap {

      p {

        a:hover {

          color: $grey-tertiary;
        }
      }
    }
  }

  .closer {
    background-color: $dark-primary;
    h2 {
      color: $light-primary;
    }
  }

  .presentation {

    padding-bottom: 4rem;
    background-color: $accent-primary;
    .presentation__content {

      /*.presentation__heading {
        color: $light-primary;
        a {
          color: $light-primary;
        }
      }*/

      margin-bottom: 0rem;
      color: $light-primary;
      line-height: 120%;

      #gform_confirmation_wrapper_5 {
        line-height: 3rem;
        padding-top: 0rem;
        padding-bottom: 0rem;
      }
      /* Required Field Asterik */
      .gfield_required {
        display: none;
      }

      .gform_wrapper {
        width:  100%;
        margin: auto;
        /*margin-top: 15rem;*/
      }

      .gform_wrapper .top_label .gfield_label {
        color: $light-primary;
      }

      /* All Default Fields */
      .gform_wrapper .gform_body .gform_fields .gfield input[type=text] {
        border: 1px solid $dark-primary;
        /*box-shadow: 2px 2px 2px 2px $dark-primary;*/
        color: $dark-primary;
        font-weight: 200;
        padding-left: 2rem;
      }

      /* Form Footer */
      .gform_wrapper .gform_footer {
        margin-top: 0rem;
        margin-bottom: 0rem;
      }

      /* Submit Button */
      .gform_wrapper .gform_footer input[type="submit"] {
        display: block;
        margin: auto;
        background-color: $dark-primary;
      }

      #input_5_11 {
        font-size: 2rem;
        font-weight: 200;
        border: 1px solid $dark-primary;
        padding-left: 2rem;
        color: $dark-primary;
      }

      .validation_error {
        color: $light-primary;
        border-top: 2px solid $light-primary;
        border-bottom: 2px solid $light-primary;
      }

      .validation_message {
        color: $light-primary;
      }

      li.gfield.gfield_error {
        background-color: $dark-primary;
        border-top: 1px solid $dark-primary;
        border-bottom: 1px solid $dark-primary;
      }

      /* Confirmation Message */
      .gform_confirmation_message {
        text-align: center;
        color: $light-primary;
        width: 90%;
        padding-left: 10%;
      }

      #field_5_14 {
        font-weight: 200;
      }

      #gform_submit_button_5:hover {
        color: $grey-tertiary;
        background-color: $light-primary;
      }
    }
  }
}

@media (--xsmall) {

  .invest {

    .hero {

      .hero__content {

        .hero__heading {
          margin-top: 0rem;
        }
      }
    }

    .leaf {

      .leaf__image {
        display: none;
      }
    }

    .stat {

      .stat__heading {
        margin-bottom: 0rem;
      }
    }

    .presentation {

      margin-top: 0rem;

      .wrap {
        padding-bottom: 5rem;
      }

      .presentation__content {

        width: 100%;
        padding-bottom: -5rem;
        font-size: 2rem;

       .gfield form__content.gfield_html.gfield_html_formatted.field_no_follows_desc.field_sublabel_below.field_description_below.gfield_visibility_visible {
          font-weight: 600;
        }

        .gform_confirmation_message_4.gform_confirmation_message {
            padding-top: 2rem;
        }

        #gform_confirmation_wrapper_5 {
          font-size: 1.45rem;
        }

        .gform_wrapper .gform_footer input[type=submit] {

          width: 60%;
          margin-top: 2rem;
        }

        .gform_confirmation_message {
          padding-top: 5rem;
        }

        /*.presentation__body {

          iframe {
            height: 18.5rem;
            width: 27.5rem;
          }
        }*/
      }
    }
  }
}

@media (--small) {

  .invest {

    .hero {

      .hero__content {

      }
    }

    .closer {

      .wrap {
        padding-top: 2rem;
        padding-bottom: 4rem;
      }
    }

    .presentation {

      .wrap {

        padding-top: 6rem;
        padding-bottom: 3rem;
      }

      .presentation__content {

        #gform_confirmation_wrapper_5 {
          font-size: 1.8rem;
        }

        .gform_wrapper .gform_footer input[type=submit] {

          width: 50%;
        }

        /*.presentation__body {

          iframe {
            height: 24rem;
            width: 37rem;
          }
        }*/
      }
    }
  }
}

@media (--medium) {

  .invest {

    .hero {

      .hero__content {

        .hero__heading {
          margin-top: 0rem;
          margin-bottom: 3rem;
        }
      }
    }

    .stat {

      .stat__heading {
          margin-top: 0rem;
      }
    }

    .store {
      position: relative;

      .store__count {
        font-size: 18rem;
      }

      .store__body {
        padding-top: 8rem;
        width: 60rem;
      }

      .store__map {
        display: block;
        position: absolute;
        top: -10rem;
        right: -10rem;
        width: 50rem;
        height: auto;
      }

      h2 {
        margin-bottom: 0rem;
      }

    }

    .presentation {

      .presentation__content {

        width: 100%;
        #gform_confirmation_message_4 {

          padding-top: 0rem;
          padding-bottom: 0rem;
        }
        /*.presentation__body {

          iframe {
            height: 39.5rem;
            width: 65rem;
          }
        }*/
      }
    }
  }
}

@media (--medium-large) {

  .invest {

    .hero {

      .hero__content {

      }
    }

    .leaf {

      .leaf__image {

        display: inline;
        margin-top: -78rem;
        margin-right: -30rem;
        max-width: 83%;
        max-height: 78rem;
      }
    }

    .stat {

      .wrap {

        .stat__heading {
          width: 64rem;
          margin-top: -4rem;
          margin-bottom: -4rem;
        }
      }
    }

    .store {

      & > .wrap {
        position: relative;
      }

      .wrap {
        padding-bottom: 8rem;
      }

      .store__map {
        top: -14rem;
        right: -14rem;
        width: 64rem;
      }

      h2 {
        margin-bottom: 0rem;
      }
    }

    .closer {

      h2 {
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
    }

    .presentation {

      padding-bottom: 0rem;

      .wrap {

        padding-top: 6rem;
        padding-bottom: 6rem;
      }

      .presentation__content {

        #field_5_14 {
          font-size: 2rem;
          font-weight: 600;
        }

        .overflow__header {
          font-size: 2rem;
        }

        font-size: 3rem;
        width: 100%;

        .ginput_container.ginput_container_text {
          font-size: 2rem;
        }

        .ginput_container.ginput_container_email {
          font-size: 2rem;
        }

        .ginput_container.ginput_container_phone {
          font-size: 2rem;
        }

        .gform_button.button {
          font-size: 2rem;
        }
        /*.presentation__body {

          iframe {
            height: 50.75rem;
            width: 85rem;
          }
        }*/
      }
    }
  }
}

@media (--large) {

  .invest {

    .hero {

      .hero__content {

      }
    }

    .store {

      .wrap {

        padding-bottom: 8rem;
        .store__body {
          width: 78rem;
        }

        h2 {
          margin-bottom: 0rem;
        }
      }
    }

    .presentation {

      .wrap {
        /*margin-top: 5rem;*/
        padding-bottom: 8rem;
      }

      .presentation__content {

        .gform_wrapper.gform_footer.input[type=submit] {

          width: 30%;
        }
        /*.presentation__body {

          iframe {
            height: 58.5rem;
            width: 100rem;
          }
        }*/
      }
    }
  }
}

@media (--xlarge) {

  .invest {

    .hero {

      .hero__content {

      }
    }

    .presentation {

      .presentation__content {

      }
    }
  }
}
