.recommendation {

  .hero {

    .hero__heading {

      /*width: 100%;
      text-align: center;
      color: $dark-primary;
      font-size: 2.5rem;*/
      display: none;
    }
  }

  .form {

    .form__container {

      /* Required Field Asterik */
      .gfield_required {
        display: none;
      }

      /* All Default Fields */
      .gform_wrapper .gform_body .gform_fields .gfield input[type=text] {
        border: 1px solid $light-primary;
        box-shadow: 1px 1px 1px 1px $main-secondary;
        color: $dark-primary;
        font-weight: 400;
        padding-left: 2rem;
      }

      /* Birthdate field */
      .gform_wrapper .gform_body .gform_fields #field_1_3.gfield input[type=text]  {
        width: 100%;
      }

      /* Date field */
      .gform_wrapper .gform_body .gform_fields #field_1_11.gfield input[type=text]  {
        width: 100%;
      }

      /* Dropdown Gender */
      .gform_wrapper .gform_body .gform_fields .gfield select {
        border: 1px solid $light-primary;
        box-shadow: 1px 1px 1px 1px $main-secondary;
        height: 4rem;
        color: $dark-primary;
        font-weight: 400;
        padding-left: 1.5rem;
        opacity: 0.9;
      }

      /* LP Dropdown */
      .gform_wrapper .gform_body .gform_fields #field_1_13.gfield select {
        width: 100%;
      }

      /* Additional Notes */
      .gform_wrapper .gform_body .gform_fields .gfield textarea {
        border: 1px solid $light-primary;
        box-shadow: 1px 1px 1px 1px $main-secondary;
        color: $dark-primary;
        font-weight: 400;
        padding-left: 2rem;
      }

      /* Form Footer */
      .gform_wrapper .gform_footer {
        margin-top: 3rem;
        margin-bottom: -3rem;
      }

      /* Submit Button */
      .gform_wrapper .gform_footer input[type=submit] {
        display: block;
        margin: auto;
      }

      /* Confirmation Message */
      .gform_confirmation_message_1.gform_confirmation_message {
        text-align: center;
      }
    }
  }
}

@media (--xsmall) {
  .recommendation {

    .form {

      .form__container {

        margin-top: -12rem;

        .gform_wrapper .gform_footer input[type=submit] {

          width: 40%;
        }
      }
    }
  }
}

@media (--small) {
  .recommendation {

    .form {

      .form__container {

        margin-top: -15rem;

        .gform_wrapper .gform_footer input[type=submit] {

          width: 30%;
        }
      }
    }
  }
}

@media (--medium) {
  .recommendation {

    .form {

      .form__container {

        margin-top: -21rem;
      }
    }
  }
}

@media (--medium-large) {
  .recommendation {

    .hero {

    }

    .form {

      .form__container {

        margin-top: -26rem;
      }
    }
  }
}

@media (--large) {

  .recommendation {

    .hero {

    }
  }
}
