.services {

  .hero {

    .hero__heading {
    /*  margin-bottom: -9rem; */
      color: $accent-primary;
    }

    .hero__subheading {
      padding-bottom: 3rem;
    }

  }


  .aboutservice {


  }


  .branding {

    #connect__lp-button:hover {
      background-color: $grey-tertiary;
    }

    .branding__image-container {

      .branding__image {
        width: 10%;
      }
    }

    .branding__content {


      .branding__heading {
        font-size: 2rem;
        color: $accent-primary;
        padding-bottom: 1rem;
      }

      .branding__topcontent {

      }


      .branding__bottomcontent {
        padding-top: 2rem;
      }

      .branding__input {

        .branding__button {

        }
      }
    }
  }

  .fyi {

    background-color: $dark-primary;
    color: #fff;

    .fyi__heading {

      font-size: 2.5rem;
    }

    .fyi__group {

      padding-top: 40px;

      .fyi__bullet {

        position: absolute;
        width: 2.5rem;
        padding-top: 10px;
      }

      .fyi__item {

        padding-left: 50px;
        font-size: 2rem;
        font-weight: 400;
      }
    }

    .fyi__items-container {
      margin-bottom: 2rem;
    }
  }

  .benefits {
    position: relative;


    .benefit {
      color: $accent-primary;
    	line-height: 2;
    }

    .benefits__icon {
      position: absolute;
      right: -4rem;
      top: calc(50% - 2rem);
      width: 12rem;
      height: auto;
      opacity: 0.2;
    }

  }

}

@media (--xsmall) {
.services {

  .hero {

    .hero__heading {
      margin-bottom: 5rem;
      line-height: 3rem;
    }

    .hero__subheading {
      width: 100%;
    }
  }

  .branding {

    .branding__image-container {

      .branding__image {
        width: 7rem;
      }

    }

    .branding__content {

      padding-left: 0rem;
      padding-top: 2rem;

      .branding__heading {

        margin-top: -12rem;
      }

      .branding__topcontent {

      }

      .branding__brand-image-container {

        margin-top: 2rem;

        .branding__tweedlogo {
          width: 13rem;
          margin-left: 7px;
        }

        .branding__aphrialogo {
          width: 13rem;
          margin-left: 7px;
        }

        .branding__islandgardenlogo {
          width: 13rem;
          margin-left: 7px;
          margin-top: -3rem;
        }

        .branding__spectrumlogo {
          width: 13rem;
          margin-left: 7px;
          margin-top: -3rem;
        }

        .branding__grasslandslogo {
          width: 13rem;
          margin-left: 7px;
          margin-top: -3rem;
        }

        .branding__snooplogo {
          width: 13rem;
          margin-left: 7px;
          margin-top: -3rem;
        }

        .branding__craftgrowlogo {
          width: 13rem;
          margin-left: 7px;
          margin-top: -3rem;
        }

        .branding__forialogo {
          width: 13rem;
          margin-left: 7px;
          margin-top: -3rem;
        }

        .branding__medreleaflogo {
          width: 13rem;
          margin-left: 7px;
          margin-top: -3rem;
        }

        .branding__brokencoastlogo {
          width: 13rem;
          margin-left: 7px;
          margin-top: -3rem;
        }

        .branding__homegrowlogo {
          width: 13rem;
          margin-left: 7px;
          margin-top: -3rem;
        }

        .branding__abcannlogo {
          width: 13rem;
          margin-left: 7px;
          margin-top: -3rem;
        }

        .branding__organigramlogo {
          width: 13rem;
          margin-left: 7px;
          margin-top: -3rem;
        }

        .branding__hydropotlogo {
          width: 13rem;
          margin-left: 7px;
          margin-top: -3rem;
        }

        .branding__auroralogo {
          width: 13rem;
          margin-left: 7px;
          margin-top: -3rem;
        }

        .branding__maricannlogo {
          width: 13rem;
          margin-left: 7px;
          margin-top: -3rem;
        }

        .branding__dnalogo {
          width: 13rem;
          margin-left: 7px;
          margin-top: -3rem;
        }

        .branding__blacklabellogo {
          width: 13rem;
          margin-left: 7px;
          margin-top: -3rem;
        }

        .branding__bedrocanlogo {
          width: 13rem;
          margin-left: 7px;
          margin-top: -3rem;
        }

        .branding__emblemlogo {
          width: 13rem;
          margin-left: 7px;
          margin-top: -3rem;
        }

        .branding__cannafarms {
          width: 13rem;
          margin-left: 7px;
          margin-top: -3rem;
        }

        .branding__canntrust {
          width: 13rem;
          margin-left: 7px;
          margin-top: -3rem;
        }

        .branding__peace {
          width: 13rem;
          margin-left: 7px;
          margin-top: -3rem;
        }
        .branding__tilray {
          width: 13rem;
          margin-left: 7px;
          margin-top: -3rem;
        }
        .branding__flowr {
          width: 13rem;
          margin-left: 7px;
          margin-top: -3rem;
        }
      }

      .branding__bottomcontent {

      }

      .branding__input {

          .branding__button {

            width: 80%;

          }
        }
      }
    }

    .aboutservice {

      .wrap {

        .aboutservice__body {

        }
      }
    }

    .fyi {

      margin-top: 6rem;
      margin-bottom: 3rem;
      .fyi__heading {

        margin-top: 4rem;
      }

      .fyi__group {


        .fyi__bullet {

        }

        .fyi__item {

        }
      }

      .fyi__items-container {

      }
    }

    .benefits {

      margin-top: -5rem;
      .benefit__heading {

      }

      .benefits__content {
        width: 100%;
      }
    }
  }
}

@media (--small) {
  .services {

    .hero {

      .hero__heading {
          margin-bottom: 9rem;
          line-height: 4rem;
      }

      .hero__subheading {

        margin-top: -6rem;
      }
    }

    .aboutservice{
      margin-top: -8rem;
      .aboutservice__body {
        padding-bottom: -2rem;

      }
    }

    .branding {
      margin-top: -5rem;
      .branding__image-container {

        .branding__image {

        }
      }

      .branding__content {


        .branding__heading {

        }

        .branding__topcontent {

        }

        .branding__brand-image-container {

          margin-top: 2rem;

          .branding__tweedlogo {
            width: 17rem;
          }

          .branding__aphrialogo {
            width: 17rem;
          }

          .branding__islandgardenlogo {
            width: 17rem;
            margin-top: -4rem;
          }

          .branding__spectrumlogo {
            width: 17rem;
            margin-top: -4rem;
          }

          .branding__grasslandslogo {
            width: 17rem;
            margin-top: -4rem;
          }

          .branding__snooplogo {
            width: 17rem;
            margin-top: -4rem;
          }

          .branding__craftgrowlogo {
            width: 17rem;
            margin-top: -4rem;
          }

          .branding__forialogo {
            width: 17rem;
            margin-top: -4rem;
          }

          .branding__medreleaflogo {
            width: 17rem;
            margin-top: -4rem;
          }

          .branding__brokencoastlogo {
            width: 17rem;
            margin-top: -4rem;
          }

          .branding__homegrowlogo {
            width: 17rem;
            margin-top: -4rem;
          }

          .branding__abcannlogo {
            width: 17rem;
            margin-top: -4rem;
          }

          .branding__organigramlogo {
            width: 17rem;
            margin-top: -4rem;
          }

          .branding__hydropotlogo {
            width: 17rem;
            margin-top: -4rem;
          }

          .branding__auroralogo {
            width: 17rem;
            margin-top: -4rem;
          }

          .branding__maricannlogo {
            width: 17rem;
            margin-top: -4rem;
          }

          .branding__dnalogo {
            width: 17rem;
            margin-top: -4rem;
          }

          .branding__blacklabellogo {
            width: 17rem;
            margin-top: -4rem;
          }

          .branding__bedrocanlogo {
            width: 17rem;
            margin-top: -4rem;
          }

          .branding__emblemlogo {
            width: 17rem;
            margin-top: -4rem;
          }

          .branding__cannafarms {
            width: 17rem;
            margin-top: -4rem;
          }

          .branding__canntrust {
            width: 17rem;
            margin-top: -4rem;
          }

          .branding__peace {
            width: 17rem;
            margin-top: -4rem;
          }

          .branding__tilray {
            width: 17rem;
            margin-top: -4rem;
          }

          .branding__flowr {
            width: 17rem;
            margin-top: -4rem;
          }
        }

        .branding__bottomcontent {

        }

        .branding__input {

            .branding__button {
              width: 80%;

            }
        }
      }
    }

    .fyi {

      margin-top: 4rem;
      margin-bottom: 10rem;
      .fyi__heading {

      }

      .fyi__group {


        .fyi__bullet {

        }

        .fyi__item {

        }
      }

      .fyi__items-container {

      }
    }

    .benefits {

      margin-top: -7rem;
      .benefits__icon {
        right: -4rem;
        top: calc(50% - 2rem);
        width: 18rem;
        height: auto;
      }
    }
  }
}

@media (--medium) {
  .services {

    .hero {
      position: relative;

      .hero__heading {
        margin-bottom: -9rem;
        width: 75%;
        line-height: 4rem;
      }

      .hero__subheading {
        margin-top: 15rem;
        width: 75%;
      }

      .hero__icon {
        display: block;
        position: absolute;
        right: -12rem;;
        top: 10rem;
        width: 30rem;
        height: auto;
      }
    }

    .aboutservice {

      margin-top: -8rem;

      & > .wrap {
        padding-bottom: 4rem;
      }

      .aboutservice__body {
        padding-bottom: 5rem;

      }
    }

    .branding {

      margin-top: -8rem;
      .branding__image-container {

        .branding__image {
          float: left;
          width: 8.5rem;
        }
      }

      .branding__content {

        padding-left: 0rem;
        padding-top: 0rem;

        .branding__heading {

        }

        .branding__topcontent {

        }

        .branding__brand-image-container {

          margin-top: 2rem;

          .branding__tweedlogo {
            width: 14rem;
            margin-left: 2rem;
          }

          .branding__aphrialogo {
            width: 14rem;
            margin-left: 2rem;
          }

          .branding__islandgardenlogo {
            width: 14rem;
            margin-left: 2rem;
          }

          .branding__spectrumlogo {
            width: 14rem;
            margin-left: 2rem;
          }

          .branding__grasslandslogo {
            width: 14rem;
            margin-left: 2rem;
            margin-top: -3rem;
          }

          .branding__snooplogo {
            width: 14rem;
            margin-left: 2rem;
            margin-top: -3rem;
          }

          .branding__craftgrowlogo {
            width: 14rem;
            margin-left: 2rem;
            margin-top: -3rem;
          }

          .branding__forialogo {
            width: 14rem;
            margin-left: 2rem;
            margin-top: -3rem;
          }

          .branding__medreleaflogo {
            width: 14rem;
            margin-left: 2rem;
            margin-top: -3rem;
          }

          .branding__brokencoastlogo {
            width: 14rem;
            margin-left: 2rem;
            margin-top: -3rem;
          }

          .branding__homegrowlogo {
            width: 14rem;
            margin-left: 2rem;
            margin-top: -3rem;
          }

          .branding__abcannlogo {
            width: 14rem;
            margin-left: 2rem;
            margin-top: -3rem;
          }

          .branding__organigramlogo {
            width: 14rem;
            margin-left: 2rem;
            margin-top: -3rem;
          }

          .branding__hydropotlogo {
            width: 14rem;
            margin-left: 2rem;
            margin-top: -3rem;
          }

          .branding__auroralogo {
            width: 14rem;
            margin-left: 2rem;
            margin-top: -3rem;
          }

          .branding__maricannlogo {
            width: 14rem;
            margin-left: 2rem;
            margin-top: -3rem;
          }

          .branding__dnalogo {
            width: 14rem;
            margin-left: 2rem;
            margin-top: -3rem;
          }

          .branding__blacklabellogo {
            width: 14rem;
            margin-left: 2rem;
            margin-top: -3rem;
          }

          .branding__bedrocanlogo {
            width: 14rem;
            margin-left: 2rem;
            margin-top: -3rem;
          }

          .branding__emblemlogo {
            width: 14rem;
            margin-left: 2rem;
            margin-top: -3rem;
          }

          .branding__cannafarms {
            width: 14rem;
            margin-left: 2rem;
            margin-top: -3rem;
          }

          .branding__canntrust {
            width: 14rem;
            margin-left: 2rem;
            margin-top: -3rem;
          }

          .branding__peace {
            width: 14rem;
            margin-left: 2rem;
            margin-top: -3rem;
          }

          .branding__tilray {
            width: 14rem;
            margin-left: 2rem;
            margin-top: -3rem;
          }

          .branding__flowr {
            width: 14rem;
            margin-left: 2rem;
            margin-top: -3rem;
          }
        }

        .branding__bottomcontent {

        }

        .branding__input {

          margin-top: 1.5rem;
          .branding__button {
            width: 45%;
            padding-top: 2rem;
            padding-bottom: 2rem;
            font-size: 1.6rem;
            font-weight: bold;
          }
        }
      }
    }

    .fyi {

      .fyi__heading {

        padding-top: -2rem;
      }

      .fyi__group {


        .fyi__bullet {

        }

        .fyi__item {

        }
      }

      .fyi__items-container {

      }
    }

    .benefits {

      margin-top: -12rem;

      .benefit__heading {
        font-size: 2rem;
      }

      .benefits__icon {
        right: -12rem;
        top: calc(50% - 25rem);
        width: 50rem;
        height: auto;
      }
    }
  }
}

@media (--medium-large) {
  .services {

    .hero {

      & > .wrap {
        position: relative;
      }

      .hero__heading {
        width: 65%;
        line-height: 4rem;
      }

      .hero__subheading {
        width: 65%;
      }

      .hero__icon {
        right: -14rem;;
        top: 10rem;
        width: 40rem;
      }
    }

    .aboutservice {

      margin-top: -23rem;
      margin-bottom: -18rem;
      .aboutservice__body {
        padding-right: 4rem;
        padding-bottom: 10rem;

      }
    }

    .branding {

      .branding__group {
        margin-top: -18rem;
      }

      .branding__content {

        .branding__heading {

          font-size: 3rem;
        }

        .branding__brand-image-container {

          margin-top: 2rem;

          .branding__tweedlogo {
            width: 11rem;
            margin-left: 2rem;
          }

          .branding__aphrialogo {
            width: 11rem;
            margin-left: 2rem;
          }

          .branding__islandgardenlogo {
            width: 11rem;
            margin-left: 2rem;
          }

          .branding__spectrumlogo {
            width: 11rem;
            margin-left: 2rem;
          }

          .branding__grasslandslogo {
            width: 11rem;
            margin-left: 2rem;
          }

          .branding__snooplogo {
            width: 11rem;
            margin-left: 2rem;
          }

          .branding__craftgrowlogo {
            width: 11rem;
            margin-left: 2rem;
            margin-top: -2rem;
          }

          .branding__forialogo {
            width: 11rem;
            margin-left: 2rem;
            margin-top: -2rem;
          }

          .branding__medreleaflogo {
            width: 11rem;
            margin-left: 2rem;
            margin-top: -2rem;
          }

          .branding__brokencoastlogo {
            width: 11rem;
            margin-left: 2rem;
            margin-top: -2rem;
          }

          .branding__homegrowlogo {
            width: 11rem;
            margin-left: 2rem;
            margin-top: -2rem;
          }

          .branding__abcannlogo {
            width: 11rem;
            margin-left: 2rem;
            margin-top: -2rem;
          }

          .branding__organigramlogo {
            width: 11rem;
            margin-left: 2rem;
            margin-top: -2rem;
          }

          .branding__hydropotlogo {
            width: 11rem;
            margin-left: 2rem;
            margin-top: -2rem;
          }

          .branding__auroralogo {
            width: 11rem;
            margin-left: 2rem;
            margin-top: -2rem;
          }

          .branding__maricannlogo {
            width: 11rem;
            margin-left: 2rem;
            margin-top: -2rem;
          }

          .branding__dnalogo {
            width: 11rem;
            margin-left: 2rem;
            margin-top: -2rem;
          }

          .branding__blacklabellogo {
            width: 11rem;
            margin-left: 2rem;
            margin-top: -2rem;
          }

          .branding__bedrocanlogo {
            width: 11rem;
            margin-left: 2rem;
            margin-top: -2rem;
          }

          .branding__emblemlogo {
            width: 11rem;
            margin-left: 2rem;
            margin-top: -2rem;
          }

          .branding__cannafarms {
            width: 11rem;
            margin-left: 2rem;
            margin-top: -2rem;
          }

          .branding__canntrust {
            width: 11rem;
            margin-left: 2rem;
            margin-top: -2rem;
          }

          .branding__peace {
            width: 11rem;
            margin-left: 2rem;
            margin-top: -2rem;
          }

          .branding__tilray {
            width: 11rem;
            margin-left: 2rem;
            margin-top: -2rem;
          }

          .branding__flowr {
            width: 11rem;
            margin-left: 2rem;
            margin-top: -2rem;
          }
        }
      }
    }

    .fyi {

      margin-top: 15rem;

      .fyi__heading {

      }

      .fyi__group {


        .fyi__bullet {

        }

        .fyi__item {

        }
      }

      .fyi__items-container {

      }
    }

    .benefits {

      .benefit__heading {
        font-size: 3rem;
      }
    }
  }
}

@media (--large) {
  .services {

    .hero {

      .hero__heading {

      }

      .hero__icon {
        right: -25rem;
        top: 14rem;
        width: 50rem;
      }
    }

    .aboutservice {

      .aboutservice__body {
        padding-right: 12rem;
      }

    }

    .branding {

      .branding__group {
          margin-top: -2rem;
      }

      .branding__image-container {

        .branding__image {

          width: 10rem;
        }
      }
      .branding__content {


        .branding__heading {

        }

        .branding__topcontent {

        }

        .branding__brand-image-container {

          margin-top: 2rem;

          .branding__tweedlogo {
            width: 10rem;
            margin-left: 2rem;
          }

          .branding__aphrialogo {
            width: 10rem;
            margin-left: 2rem;
          }

          .branding__islandgardenlogo {
            width: 10rem;
            margin-left: 2rem;
          }

          .branding__spectrumlogo {
            width: 10rem;
            margin-left: 2rem;
          }

          .branding__grasslandslogo {
            width: 10rem;
            margin-left: 2rem;
          }

          .branding__snooplogo {
            width: 10rem;
            margin-left: 2rem;
          }

          .branding__craftgrowlogo {
            width: 10rem;
            margin-left: 2rem;
          }

          .branding__forialogo {
            width: 10rem;
            margin-left: 2rem;
          }

          .branding__medreleaflogo {
            width: 10rem;
            margin-left: 2rem;
            margin-top: -1.5rem;
          }

          .branding__brokencoastlogo {
            width: 10rem;
            margin-left: 2rem;
            margin-top: -1.5rem;
          }

          .branding__homegrowlogo {
            width: 10rem;
            margin-left: 2rem;
            margin-top: -1.5rem;
          }

          .branding__abcannlogo {
            width: 10rem;
            margin-left: 2rem;
            margin-top: -1.5rem;
          }

          .branding__organigramlogo {
            width: 10rem;
            margin-left: 2rem;
            margin-top: -1.5rem;
          }

          .branding__hydropotlogo {
            width: 10rem;
            margin-left: 2rem;
            margin-top: -1.5rem;
          }

          .branding__auroralogo {
            width: 10rem;
            margin-left: 2rem;
            margin-top: -1.5rem;
          }

          .branding__maricannlogo {
            width: 10rem;
            margin-left: 2rem;
            margin-top: -1.5rem;
          }

          .branding__dnalogo {
            width: 10rem;
            margin-left: 2rem;
            margin-top: -1.5rem;
          }

          .branding__blacklabellogo {
            width: 10rem;
            margin-left: 2rem;
            margin-top: -1.5rem;
          }

          .branding__bedrocanlogo {
            width: 10rem;
            margin-left: 2rem;
            margin-top: -1.5rem;
          }

          .branding__emblemlogo {
            width: 10rem;
            margin-left: 2rem;
            margin-top: -1.5rem;
          }

          .branding__cannafarms {
            width: 10rem;
            margin-left: 2rem;
            margin-top: -1.5rem;
          }

          .branding__canntrust {
            width: 10rem;
            margin-left: 2rem;
            margin-top: -1.5rem;
          }

          .branding__peace {
            width: 10rem;
            margin-left: 2rem;
            margin-top: -1.5rem;
          }

          .branding__tilray {
            width: 10rem;
            margin-left: 2rem;
            margin-top: -1.5rem;
          }

          .branding__flowr {
            width: 10rem;
            margin-left: 2rem;
            margin-top: -1.5rem;
          }
        }

        .branding__bottomcontent {

        }

        .branding__input {

          .branding__button {
            padding-top: 2rem;
            padding-bottom: 2rem;
            font-size: 2rem;
            font-weight: bold;
          }
        }
      }
    }

    .fyi {

      .fyi__heading {

      }

      .fyi__group {


        .fyi__bullet {

        }

        .fyi__item {

        }
      }

      .fyi__items-container {

      }
    }

    .benefits {

      .benefits__content {
          width: 48%;
      }

      .benefits__icon {
        right: -20rem;
        top: 12rem;
        width: 84rem;
      }
    }
  }
}
