.storelocations {

  .hero {

    background-color: $light-primary;
    padding-bottom: 5rem;

    .hero__header {

      color: $dark-primary;
    }
  }

  .map {

    .map__image {
      float: right;

    }
  }

  .bc {

    text-align: center;
    background-color: $dark-primary;
    .bc__header {

      font-size: 3.2rem;
      line-height: 4rem;
      text-align: center;
      color: $light-primary;
    }

    .bc__group {

      text-align: center;
      .bc__location_name {

      }
      .bc__location_name a:hover {
        color: $light-primary;
      }
      .bc__location_address {
        color: $light-primary;
      }

      .bc__location_postal {
        color: $light-primary;
      }
      .bc__location_phone {

      }

      .bc__location_phone a:hover {
        color: $light-primary;
      }
    }
  }

  .alberta {

    text-align: center;
    background-color: $dark-primary;
    .alberta__header {

      font-size: 3.2rem;
      line-height: 4rem;
      text-align: center;
      color: $light-primary;
    }

    .alberta__group {

      text-align: center;
      .alberta__location_name {
        color: $accent-primary;
      }

      .alberta__location_name a:hover {
        color: $light-primary;
      }
      .alberta__location_address {
        color: $light-primary;
      }

      .alberta__location_postal {
        color: $light-primary;
      }
      .alberta__location_phone {

      }
      .alberta__location_phone a:hover {
        color: $light-primary;
      }
    }
  }
  .upcoming {

    text-align: center;
    background-color: $dark-primary;
    color: $light-primary;
    .upcoming__header {
      font-size: 3.2rem;
      line-height: 4rem;
      text-align: center;
      color: $light-primary;
    }
    .upcoming__header_hr {
      margin-left: 35%;
      margin-right: 35%;
    }

    .upcoming__group {

      .upcoming__location_name {
        color: $accent-primary;
      }

      .upcoming__location_name a:hover {
        color: $light-primary;
      }
      .upcoming__location_address {

      }

      .upcoming__location_postal {

      }

      .upcoming__location_hr {
        width: 20%;
        margin-left: 40%;
        margin-right: 40%;
      }
    }
  }

  .confirm {

    text-align: center;
    background-color: $accent-primary;
    color: $light-primary;
    .confirm__header {
      font-size: 3.2rem;
      line-height: 4rem;
      text-align: center;
      color: $light-primary;
    }
    .confirm__header_hr {
      margin-left: 35%;
      margin-right: 35%;
    }

    .confirm__group {

      .confirm__location_name {

        a {

          color: $light-primary;
        }
      }

      .confirm__location_name a:hover {
        color: $grey-tertiary;
      }

      .confirm__location_hr {
        width: 20%;
        margin-left: 40%;
        margin-right: 40%;
      }
    }
  }
  .confirmation {

    .confirmation__header {

      color: $accent-primary;

    }
  }
}

@media (--xsmall) {

.storelocations {

    .hero {
      margin-bottom: -5rem;

      .hero__header {

        font-size: 2.2rem;
        margin-top: -1rem;
        margin-bottom: -1rem;
      }
    }

    .map {

      .map__image {
        display: none;
      }
    }

    .bc {

      padding-top: 2rem;

      .bc__header {

      }

      .bc__header_hr {
        margin-top: -2rem;
      }

      .bc__group {

        .bc__location_name {

        }
        .bc__location_address {

        }
        .bc__location_postal {

        }
        .bc__location_phone {

        }
      }
    }

    .alberta {

      margin-top: -6rem;

      .alberta__header {

      }

      .alberta__header_hr {
        margin-top: -2rem;
      }


      .alberta__group {

        .alberta__location_name {

        }
        .alberta__location_address {

        }
        .alberta__location_postal {

        }
        .alberta__location_phone {

        }
      }
    }
    .upcoming {

      margin-top: -15rem;
      margin-bottom: 8rem;
      .upcoming__header {

      }

      .upcoming__group {

        .upcoming__location_name {

        }
        .upcoming__location_address {

        }
        .upcoming__location_postal {

        }
      }
    }
    .confirm {

      margin-top: -10rem;
      margin-bottom: -7rem;

      .confirm__header {

      }

      .confirm__group {

        .confirm__location_name {

        }
      }
    }
    .confirmation {

      .wrap {
        padding-bottom: 0rem;
      }

      .confirmation__header {

        margin-top: -5rem;
        font-size: 2rem;
      }
    }
  }
}

@media (--small) {

.storelocations {

  .hero {

    .hero__header {

      font-size: 2.5rem;
    }
  }

    .bc {

      .bc__header {

      }

      .bc__group {

        width: 48%;
        max-width: none;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        display: inline-block;
        vertical-align: text-top;
        .bc__location_name {
          font-size: 1.55rem;
        }
        .bc__location_address {
          font-size: 1.4rem;
        }
        .bc__location_postal {
          font-size: 1.4rem;
        }
        .bc__location_phone {
          font-size: 1.4rem;
        }
      }
    }

    .alberta {

      .alberta__header {

      }

      .alberta__group {

        width: 48%;
        max-width: none;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        display: inline-block;
        vertical-align: text-top;
        .alberta__location_name {
          font-size: 1.55rem;
        }
        .alberta__location_address {
          font-size: 1.4rem;
        }
        .alberta__location_postal {
          font-size: 1.4rem;
        }
        .alberta__location_phone {
          font-size: 1.4rem;
        }
      }
    }
    .upcoming {

      margin-top: -20rem;

      .upcoming__header {

      }

      .upcoming__group {

        width: 48%;
        max-width: none;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        display: inline-block;
        vertical-align: text-top;
        .upcoming__location_name {
          font-size: 1.55rem;
        }
        .upcoming__location_address {
          font-size: 1.4rem;
        }
        .upcoming__location_postal {
          font-size: 1.4rem;
        }
      }
    }
    .confirm {

      .confirm__header {

      }

      .confirm__group {

        width: 48%;
        max-width: none;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        display: inline-block;
        vertical-align: text-top;
        .confirm__location_name {
          font-size: 1.7rem;
        }
      }
    }
    .confirmation {

      .confirmation__header {

      }
    }
  }
}

@media (--medium) {

.storelocations {

    .hero {

      padding-bottom: 14rem;
      .hero__header {
        margin-top: 5rem;
        margin-bottom: -5rem;
        font-size: 2.8rem;
      }
    }

    .bc {

      padding-top: 0rem;
      padding-bottom: 0rem;
      margin-bottom: -8rem;
      .bc__header {
        line-height: 3rem;
        font-size: 3.5rem;
        margin-bottom: 4.5rem;
      }

      .bc__header_hr {
        margin-top: -5rem;
      }

      .bc__group {


        .bc__location_name {
          font-size: 2rem;
        }
        .bc__location_address {
          font-size: 1.8rem;
        }
        .bc__location_postal {
          font-size: 1.8rem;
        }
        .bc__location_phone {
          font-size: 1.8rem;
        }
      }
    }

    .alberta {

      padding-top: 0rem;
      padding-top: 0rem;
      margin-bottom: -8rem;

      .alberta__header {
        line-height: 3rem;
        font-size: 3.5rem;
      }

      .alberta__group {


        .alberta__location_name {
          font-size: 2rem;
        }
        .alberta__location_address {
          font-size: 1.8rem;
        }
        .alberta__location_postal {
          font-size: 1.8rem;
        }
        .alberta__location_phone {
          font-size: 1.8rem;
        }
      }
    }
    .upcoming {


      .upcoming__header {

      }

      .upcoming__group {

        width: 48%;
        max-width: none;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        display: inline-block;
        .upcoming__location_name {
          font-size: 2rem;
        }
        .upcoming__location_address {
          font-size: 1.8rem;
        }

        .upcoming__location_postal {
          font-size: 1.8rem;
        }
      }
    }
    .confirm {


      .confirm__header {

      }

      .confirm__group {

        width: 32%;
        max-width: none;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        display: inline-block;
        .confirm__location_name {
          font-size: 2rem;
        }
      }
    }
    .confirmation {

      .wrap {
        padding-bottom: 5rem;
      }

      .confirmation__header {

        margin-top: -6rem;
        font-size: 2.4rem;
      }
    }
  }
}

@media (--medium-large) {

.storelocations {

    .hero {
      margin-bottom: -10rem;
      padding-bottom: 15rem;

      .hero__header {

        margn-top: -40rem;
        font-size: 3.2rem;
        width: 90%;
      }
    }

    .map {

      .map__image {

        display: inline;
        margin-top: -78rem;
        margin-right: -30rem;
        max-width: 83%;
        max-height: 78rem;
      }
    }

    .bc {

      margin-bottom: -20rem;
      .wrap {

        padding-top: 10rem;
      }

      .bc__header {

      }

      .bc__group {

        width: 32%;
        max-width: none;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        display: inline-block;
        vertical-align: text-top;
        .bc__location_name {

        }
        .bc__location_address {

        }
        .bc__location_postal {

        }
        .bc__location_phone {

        }
      }
    }

    .alberta {

      margin-bottom: -20rem;

      .alberta__header {

      }

      .alberta__group {

        width: 32%;
        max-width: none;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        display: inline-block;
        vertical-align: text-top;
        .alberta__location_name {

        }
        .alberta__location_address {

        }
        .alberta__location_postal {

        }
        .alberta__location_phone {

        }
      }
    }
    .upcoming {

      .wrap {
        padding-top: 5rem;
        padding-bottom: 8rem;
      }
      .upcoming__header {

      }

      .upcoming__group {

        width: 32%;
        max-width: none;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        display: inline-block;
        vertical-align: text-top;
        .upcoming__location_name {

        }
        .upcoming__location_address {

        }
        .upcoming__location_postal {

        }
      }
    }
    .confirm {

      .wrap {
        padding-top: 8rem;
        padding-bottom: 5rem;
      }
      .confirm__header {

      }

      .confirm__group {

        width: calc(99.9% * 1/6 - 0.666666666666667rem);
        .confirm__location_name {

          line-height: 2.4rem;
        }
      }
    }
    .confirmation {

      .confirmation__header {

        margin-top: -8rem;
        font-size: 2.8rem;
      }
    }
  }
}

@media (--large) {

.storelocations {

    .bc {

      .bc__header {

      }

      .bc__group {

        .bc__location_name {

        }
        .bc__location_address {

        }
        .bc__location_postal {

        }
        .bc__location_phone {

        }
      }
    }

    .alberta {

      .alberta__header {

      }

      .alberta__group {

        .alberta__location_name {

        }
        .alberta__location_address {

        }
        .alberta__location_postal {

        }
        .alberta__location_phone {

        }
      }
    }
    .upcoming {

      .upcoming__header {

      }

      .upcoming__group {

        .upcoming__location_name {

        }
        .upcoming__location_address {

        }
        .upcoming__location_postal {

        }
      }
    }
    .connfirm {

      .connfirm__header {

      }

      .connfirm__group {

        .connfirm__location_name {

        }
      }
    }
    .confirmation {

      .confirmation__header {

        font-size: 3rem;
      }
    }
  }
}

@media (--xlarge) {

.storelocations {

    .hero {

      .hero__header {

        width: 75%;
      }
    }

    .bc {

      .bc__header {

      }

      .bc__group {

        .bc__location_name {

        }
        .bc__location_address {

        }
        .bc__location_postal {

        }
        .bc__location_phone {

        }
      }
    }

    .alberta {

      .alberta__header {

      }

      .alberta__group {

        .alberta__location_name {

        }
        .alberta__location_address {

        }
        .alberta__location_postal {

        }
        .alberta__location_phone {

        }
      }
    }
    .upcoming {

      .upcoming__header {

      }

      .upcoming__group {

        .upcoming__location_name {

        }
        .upcoming__location_address {

        }
        .upcoming__location_postal {

        }
      }
    }
    .confirm {

      .confirm__header {

      }

      .confirm__group {

        .confirm__location_name {

        }
      }
    }
    .confirmation {

      .confirmation__header {

      }
    }
  }
}
