<section class="book">
  <div class="wrap-book">
    <div class="book__group">
      <div class="book__image-container">
        <img class="icon-sm book__icon" src="{{site.theme.link}}/dist/img/icons/icon-list.svg" alt="List icon" aria-hidden="true">
      </div>
      <div class="book__content">
        <h2 class="text-bold book__heading">{{heading}}</h2>
      </div>
    </div>
    <div class="book__button-container">
      <a class="btn-alt book__button input-health universe__button" href="#">{{button_text}}</a>
    </div>
  </div>
</section>
