<footer class="footer" itemscope itemtype="//schema.org/WPFooter">
  <div class="footer__inner">
    <div class="footer__col footer__col--about">
      <img class="footer__logo" src="{{site.theme.link}}/dist/img/logo-full-dark.svg" alt="Compass Logo">
      <p class="footer__text">{{footer_text}}</p>
    </div>
    <div class="footer__col footer__col--social">
      <h5 class="footer__title">Follow Us</h5>
      <div class="footer__social-container">
        {% for item in accounts %}
          <div class="social">
            <a class="social__link" href="{{item.link}}" id="{{item.icon}}__track" target="_blank">
              <i class="fa fa-{{item.icon}} social__icon" id="{{item.icon}}__track-icon"></i>
            </a>
          </div>
        {% endfor %}
      </div>
      <h5 class="footer__title footer__title--question" style="margin-top: 1.5rem;">Contact Us</h5>
      <p class="footer__contact">
        <a class="footer__email" id="footer__email-track" href="mailto:{{email}}" title="Email us">{{email}}</a>
      </p>
      <h5 class="footer__title footer__title--question" style="margin-top: 1.5rem;">General Inquiries</h5>
      <p class="footer__booking">For Booking: <a href="/storelocations" target="_blank">Find Your Clinic</a></p>
      <p class="footer__phone">Toll Free:
        <a class="footer__phone" id="footer__phone-track" href="tel:18333254642" title="Phone us">1-833-325-4642</a>
      </p>
      <!--
      <p class="footer_career" title="Careers at Compass">
        <a href="/careers/" target="_blank">Careers</a>
      </p>
      <p class="footer_invest" title="Invest with Compass">
        <a href="/invest/" target="_blank">Invest</a>
      </p>
      <p class="footer_blog" title="Compass Blog">
        <a href="/category/blog/" target="_blank">Blog</a>
      </p>
      <p class="footer_news" title="Compass News">
        <a href="/category/news/" target="_blank">News</a>
      </p>
    -->
    </div>
    <div class="footer__col footer__col--newsletter">
      <h5 class="footer__title">Newsletter</h5>
                    <!-- Begin MailChimp Signup Form -->

              <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
              <style type="text/css">
              #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
              /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                 We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
              </style>
              <div id="mc_embed_signup">
              <form action="https://compasscannabis.us16.list-manage.com/subscribe/post?u=1cb25a8f8cc02744ba488d2fa&amp;id=16c552a130" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
              <h3 style="color: #77A080; font-size: 1.4rem; text-transform:none; padding-bottom: 1.2rem; font-weight: 600;">Stay up to date on Compass news and events.</h3>
              <!--<h3 style="color: #77A080; font-size: 1.8rem; text-transform:uppercase;">Subscribe to our newsletter.</h3>-->
              <!--<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>-->
              <div class="mc-field-group">
              <label for="mce-EMAIL">Email Address<!--<span class="asterisk">*</span>-->
              </label>
              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
              </div>
              </div>	<div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1cb25a8f8cc02744ba488d2fa_16c552a130" tabindex="-1" value=""></div>
                <input id="checkbox" class="newsletter-checkbox" type="checkbox" name="checkbox" data-name="checkbox">
                <label class="newsletter-checkbox-label" for="checkbox" style="font-size: 1rem;">I agree to receive electronic messages from Compass Cannabis Clinic. I understand I can opt out at any time.<br /><br /></label>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
              </form>
              </div>
              <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='BIRTHDAY';ftypes[3]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
              <!--End mc_embed_signup-->
    </div>
  </div>
  <div class="footer__links">
    <table class="footer__table" style="margin-bottom: 0rem; float: left;">
      <tr class="first-row">
        <td>
          <h3>Compass</h3>
        </td>
      </tr>
      <tr class="sub-row">
        <td>
          <a href="/about/">About Us</a>
        </td>
      </tr>
      <tr class="sub-row">
        <td>
          <a href="/services/">Services</a>
        </td>
      </tr>
      <tr class="sub-row">
        <td>
          <a href="/storelocations/">Locations</a>
        </td>
      </tr>
      <tr>
        <td>
          <a></a>
        </td>
      </tr>
    </table>
    <table class="footer__table second__table" style="margin-bottom: 0rem; float: left;">
      <tr class="first-row">
        <td>
          <h3>Education</h3>
        </td>
      </tr>
      <tr class="sub-row">
        <td class="footer_news">
          <a href="/category/news/">News</a>
        </td>
      </tr>
      <tr class="sub-row">
        <td class="footer_blog footer_blog">
          <a href="/category/blog/">Blog</a>
        </td>
      </tr>
      <tr>
        <td>
          <a></a>
        </td>
      </tr>
      <tr>
        <td>
          <a></a>
        </td>
      </tr>
    </table>
    <table class="footer__table last__table" style="margin-bottom: 0rem;">
      <tr class="first-row">
        <td>
          <h3>Compass and You</h3>
        </td>
      </tr>
      <tr class="sub-row">
        <td>
          <a href="/doctor/">Physicians</a>
        </td>
      </tr>
      <tr class="sub-row">
        <td class="footer_invest">
          <a href="/invest/">Invest</a>
        </td>
      </tr>
      <tr class="sub-row footer_contact">
        <td>
          <a href="/Contact/">Contact</a>
        </td>
      </tr>
      <tr class="sub-row footer_career">
        <td>
          <a href="/careers/">Careers</a>
        </td>
      </tr>
    </table>
  </div>
  <hr style="background-color: #393939; border-color: #393939; margin: 0 0 0 0; padding: 0 0 0 0; border-bottom-width: 1px;">
  <div class="footer__detail">
    <p class="footer__copyright">Copyright&#0169; {{"now"|date('Y') | trim}}<span class="footer__copyright-text"> | <a href="/terms/">Terms & Conditions</a> | <a href="/policy/">Privacy Policy</a></span></p>
    <img class="footer__icon" src="{{site.theme.link}}/dist/img/logo-icon-dark.svg" alt="Compass Cannabis Clinic icon" aria-hidden="true">
  </div>
</footer>
