<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{site.language_attributes}}> <!--<![endif]-->
<head>
  <meta charset="{{site.charset}}" />
    <title>
      {% if wp_title %}
        {{ wp_title }}
      {% else %}
        {{ site.name }}
      {% endif %}
    </title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <link rel="apple-touch-icon" sizes="180x180" href="/wp-content/themes/ccc/dist/img/favicon/apple-touch-icon.png?v=47MxP0oxRN">
  <link rel="icon" type="image/png" sizes="32x32" href="/wp-content/themes/ccc/dist/img/favicon/favicon-32x32.png?v=47MxP0oxRN">
  <link rel="icon" type="image/png" sizes="16x16" href="/wp-content/themes/ccc/dist/img/favicon/favicon-16x16.png?v=47MxP0oxRN">
  <link rel="manifest" href="/wp-content/themes/ccc/dist/img/favicon/manifest.json?v=47MxP0oxRN">
  <link rel="mask-icon" href="/wp-content/themes/ccc/dist/img/favicon/safari-pinned-tab.svg?v=47MxP0oxRN" color="#5bbad5">
  <link rel="shortcut icon" href="/wp-content/themes/ccc/dist/img/favicon/favicon.ico?v=47MxP0oxRN">
  <meta name="msapplication-config" content="/wp-content/themes/ccc/dist/img/favicon/browserconfig.xml?v=47MxP0oxRN">
  <meta name="theme-color" content="#ffffff">
  <script>
        function printDiv(divName){
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
  </script>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Montserrat:400,600" rel="stylesheet">
  {% include 'partials/_analytics.twig' %}
  {{function('wp_head')}}
