{% set light = false %}
{% if post.slug == 'home' %}
{% set light = true %}
{% endif %}
<header class="header {% if light == 'home' %}header--light{% endif %}" itemscope itemtype="//schema.org/WPHeader">
  {% block header %}
    <div class="wrapper">
      <div class="title-area">
        <div class="logo">
          <a class="logo-link" href="/" rel="home">
            {% if light %}
            <img src="{{site.theme.link}}/dist/img/logo-icon-light.svg" alt="{{site.name}} Logo" />
            {% else %}
            <img src="{{site.theme.link}}/dist/img/logo-icon-dark.svg" alt="{{site.name}} Logo" />
            {% endif %}
          </a>
        </div>
        <div class="selector">
          <span class="current__outer">
            <span class="current"></span>
            <i class="selector__icon fa fa-angle-down"></i>
          </span>

          <ul class="selector__list">
            {% for item in provinces %}
              <li class="selector__option" data-value="{{item.province|lower}}">{{item.province|upper}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <nav class="nav-main" role="navigation" itemscope itemtype="//schema.org/SiteNavigationElement">
        {% include "partials/_menu.twig" with {'menu': menu.get_items} %}
      </nav>
    </div>
  {% endblock %}
</header>
