<aside class="popup">
  <div class="popup__overlay"></div>
  <div class="popup__container">
    <div class="popup__body">
      <div class="popup__inner">
        <img class="popup__logo" src="{{site.theme.link}}/dist/img/logo-full-dark.svg" alt="Compass Cannabis Logo" aria-hidden="true">
        <p class="text-bold popup__text">Please select your province:</p>
        <form class="popup__form">
          <select class="popup__select" name="province">
            {% for item in provinces %}
              <option value="{{item.province|lower}}">{{item.province|upper}}</option>
            {% endfor %}
          </select>
          <button class="popup__enter" type="submit" name="button">Enter</button>
        </form>
      </div>
    </div>
  </div>
</aside>
