<h3>Previous Posts</h3>
<ul>
{% for item in archives.items %}
    {% for child in item.children %}
        <li class="month"><a href="{{child.link}}">{{child.name}} {{item.name}}</a></li>
    {% endfor %}
{% endfor %}
</ul>
