.blog,
.archive {

  .posts {

    .news__content {
      display: none;
    }

    h1 {
      margin-top: 4rem;
      font-size: 3rem;
      color: $accent-primary;
      margin-bottom: 4rem;
    }
    .tease-post {
      margin-top: -15rem;
      padding-bottom: 20rem;
      lost-utility: clearfix;

      .tease-post__title {
        line-height: 105%;
      }

      .tease-post__title a:hover {
        color: $grey-tertiary;
      }

      .tease-post__link {
        font-size: 2.5rem;

      }

      .tease-post__content-container {
        float:left !important;
        width: 100%;
      }

      & > div{
        lost-column: 1/2;

        &:only-child {
          lost-column: 1;
        }
      }
    }
  }

  .pagination {
    text-align: center;
    font-size: 2rem;

    .next,
    .prev,
    li {
      display: inline-block;
      padding: 1rem 0.5rem;
    }

    ul {
      display: inline-block;
    }
  }
}

/*
Category Customization for Blog Category Page
*/
.category-blog {

  .posts {


    .wrap {

      .tease-post {

        display: inline-block;
      }
      .tease-post__image {

      }

      .tease-post__title{

        text-align: center;
      }

      .tease-post__content-container {

        text-align: left;
      }

      .tease-post__excerpt {
        display: none;
      }

      .post__date {
        text-align: center;
      }
    }
  }

  .footer {
    margin-top: -20rem;
  }
}

.category-news {

  .posts {

    .wrap {

      .tease-post {

      }
      .tease-post__image {
        display: none;
      }

      .tease-post__title{

        text-align: center;
      }

      .tease-post__content-container {

        text-align: left;
      }

      .tease-post__excerpt {
        display: none;
      }

      .post__date {
        text-align: center;
      }
    }
  }

  .footer {
    margin-top: -20rem;
  }
}

@media (--xsmall) {

  .category-blog {

    .posts {

      .tease-post {

        padding-top: 5rem;
      }
      .tease-post__image {

        max-width: 220%;
      }

      .tease-post__title{
        line-height: 120%;
      }

      .tease-post__content-container {

      }
    }
  }

  .category-news {

    .intro {

      h1 {
        margin-top: 3rem;
      }
    }

    .posts {

      margin-top: 2.5rem;

      .tease-post {

        padding-top: 3rem;
      }
      .tease-post__image {

        max-width: 220%;
      }

      .tease-post__title{
        line-height: 120%;
      }

      .tease-post__content-container {

      }
    }
  }
}

@media (--small) {
  .category-blog {

    .posts {

      .tease-post {

        padding-top: 3rem;
      }
      .tease-post__image {

        max-width: 215%;
      }

      .tease-post__title{
        line-height: 120%;
      }

      .tease-post__content-container {

      }
    }
  }
  .category-news {

    .posts {

      margin-top: -2rem;
      .tease-post {

        padding-top: 3rem;
      }
      .tease-post__image {

        max-width: 215%;
      }

      .tease-post__title{
        line-height: 120%;
      }

      .tease-post__content-container {

      }
    }
  }
}

@media (--medium) {
  .category-blog {

    .posts {

      .tease-post {
        width: 47%;
        max-width: none;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        display: inline-block;
        vertical-align: text-top;
      }
      .tease-post__image {
        max-width: 225%;

      }

      .tease-post__title{
        line-height: 3rem;
      }

      .tease-post__content-container {
        font-size: 1.5rem;

      }
    }
  }

  .category-news {

    .posts {

      padding-top: 0.5rem;

      .tease-post {
        width: 47%;
        max-width: none;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        display: inline-block;
        vertical-align: text-top;
      }
      .tease-post__image {
        max-width: 225%;

      }

      .tease-post__title{
        line-height: 3rem;
      }

      .tease-post__content-container {
        font-size: 1.5rem;

      }
    }
  }
}

@media (--medium-large) {
  .category-blog {

    .posts {

      padding-top: 3rem;

      .tease-post {
        width: 32%;
        max-width: none;
      }
      .tease-post__image {
        max-width: 225%;

      }

      .tease-post__title{
        line-height: 3rem;

      }

      .tease-post__content-container {
        font-size: 1.5rem;

      }
    }
  }

  .category-news {

    .posts {

      padding-top: 0rem;

      .tease-post {

        width: 32%;
        max-width: none;
      }
      .tease-post__image {
        max-width: 200%;

      }

      .tease-post__title{
        line-height: 3rem;
      }

      .tease-post__content-container {
        font-size: 1.5rem;
      }
    }
  }
}

@media (--large) {

  .category-blog {

    .posts {

      padding-top: 2rem;

      .tease-post {
        max-width: none;

      }
      .tease-post__image {
        max-width: 225%;
      }

      .tease-post__title{
        line-height: 3rem;
      }

      .tease-post__content-container {
        font-size: 1.5rem;

      }
    }
  }

  .category-news {

    .posts {

      padding-top: 2rem;

      .tease-post {
        max-width: none;

      }
      .tease-post__image {
        max-width: 200%;

      }

      .tease-post__title{
        line-height: 3rem;
      }

      .tease-post__content-container {
        font-size: 1.5rem;

      }
    }
  }

  .tease-post__title {
    line-height: 70%;
  }
}
