a[class*="btn-"],
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  font-family: $font-body;
  font-weight: 600;
  padding: 1rem 2.5rem;
	display: inline-block;
	line-height: 1.4;
  margin-top: 2.5rem;
  transition: 0.3s ease;
	border: 0;
	border-radius: $border-radius;
  background: $accent-primary;
  color: $light-primary;
	cursor: pointer;
	text-align: center;
  transform: translateY(0);
  transition: 0.3s;
}

/* button hover animation */
a[class*="btn-"]:not([disabled]):hover,
button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover,
button:focus,
input:focus[type="button"],
input:focus[type="reset"],
input:focus[type="submit"] {
  /*transform: translateY(-0.25rem);
  transition: 0.3s;*/
}

a.btn-alt {
	font-size: 2.2rem;
  padding: 1.5rem 5.5rem;
}

a.btn-mod {
	font-size: 2.2rem;
  padding: 1.25rem 3rem;
  margin-top: 0rem;
  &.btn-mod--thin {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
a[disabled],
button:disabled,
button:disabled:hover,
input:disabled,
input:disabled:hover,
input[type="button"]:disabled,
input[type="button"]:disabled:hover,
input[type="reset"]:disabled,
input[type="reset"]:disabled:hover,
input[type="submit"]:disabled,
input[type="submit"]:disabled:hover {
	background-color: $accent-primary;
	color: $light-primary;
	cursor: not-allowed;
  opacity: 0.5;
}

a.btn-alt.book__button.input-health:hover {
  background-color: $grey-tertiary;
}

@media (--xsmall) {

  a[class*="btn-"] {
    margin-top: 2rem !important;
  }
}

@media (--medium) {

  a[class*="btn-"] {
    margin-top: 1rem !important;
    margin-bottom: -2rem;
  }

  a.btn-std {
    padding: 1.75rem 4rem;
  }

  a.btn-alt {
    padding: 2rem 8.5rem;
  }

	a.btn-std,
	a.btn-alt {
	  margin-top: 3.5rem;
	}
}


@media (--medium-large) {

  a[class*="btn-"] {
    margin-top: 6rem !important;
    margin-bottom: 6rem;
  }

  a.btn-mod {
  	font-size: 2.2rem;
    padding: 1.25rem 7rem;

    &.btn-mod--thin {
      padding-top: .5rem;
      padding-bottom: .5rem;
    }
  }
}

@media (--large) {

  a.btn-std {
    font-size: 2.2rem;
  }

  a.btn-alt {
    font-size: 2.6rem;
    width: 52rem;
  }
}
