.footer {
  font-size: 1.4rem;

  .footer__inner {
    padding: 6rem 3rem 3rem 3rem;
    max-width: 400px;
  }

  .footer__col {

    & + .footer__col {
      margin-top: 4rem;
    }

    #mc-embedded-subscribe.button {
      background-color: $accent-primary;
    }

    #mc-embedded-subscribe.button:hover {
      background-color: $dark-primary;
    }

  }

  .footer__logo {
    width: 28rem;
    padding-bottom: 2rem;
    margin-top: -1rem;

  }

  .footer__title {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;

    &.footer__title--question {
      margin-top: 4.2rem;
    }
  }

  .footer__text,
  .footer__newsletter-text {
    font-weight: 400;
  }

  .social {
    display: inline-block;

    .social__link {
      font-size: 4rem;
      margin-right: 2rem;
      line-height: 1.2;
    }

    .fa.fa-facebook-official.social__icon:hover {
      color: $dark-primary;
    }

    .fa.fa-instagram.social__icon:hover {
      color: $dark-primary;
    }

    .fa.fa-twitter-square.social__icon:hover {
      color: $dark-primary;
    }
  }

  .footer__email:hover {
    color: $dark-primary;
  }

  .footer__phone:hover {
    color: $dark-primary;
  }

  .footer__detail {
    font-size: 1.3rem;
    background-color: $grey-secondary;
    display: flex;
    align-items: center;
  }

  .footer__copyright,
  .footer__image {
    flex: 1;
  }

  .footer__copyright {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    color: $light-primary;
    font-family: $font-secondary;
    letter-spacing: 0.1rem;
  }

  .footer__copyright-text {
    font-weight: 400;
    text-transform: none;
  }

  .footer__copyright-text a:hover {
    color: $light-primary;
  }

  .footer__icon {
    display: inline-block;
    width: 4rem;
    text-align: right;
    padding-top: 0.5rem;
  }

  #mc-embedded-subscribe-form {
    padding-left: 0rem;
    padding-top: 0rem;

    h3 {
      font-size: 1rem;
    }
  }

  .footer__links {
    background-color: $dark-primary;
    padding-bottom: 2rem;
  }

  .footer__table {

    width: 28%;
    tr {

      td {

        h3 {
          color: $accent-primary;
          text-align: left;
          text-transform: uppercase;
          font-family: Open Sans, Helvetica, sans-serif;
          letter-spacing: 0.15rem;
        }

        a {
          color: $light-primary;
          font-weight: 200;
          font-family: Open Sans, Helvetica, sans-serif;
        }

        a:hover {
          color: $accent-primary;
        }
      }
    }
  }
}

@media (--xsmall) {

  .footer {

    .footer__detail {
      padding: 2rem 2rem 2rem 2rem;
    }

    .footer__table {

      margin-left: 1.5rem;
      tr {

        td {

          h3 {
            font-size: 0.8rem;
            padding-top: 2rem;
            padding-left: 0rem;
            padding-right: 2rem;
            font-weight: 700;
          }

          a {
            font-size: 0.8rem;
          }
        }
      }

      .first-row h3 {
        line-height: 1rem;
        margin-top: 0.8rem;
      }

      .last-row td {
        padding-bottom: 2rem;
      }
    }
  }
}

@media (--small) {

  .footer {

    .footer__detail {
      padding: 2rem 2rem 2rem 3rem;
    }

    .footer__table {

      margin-left: 3rem;
      tr {

        td {

          h3 {
            font-size: 1.2rem;
            padding-top: 2rem;
            padding-left: 0rem;
            padding-right: 2rem;
            font-weight: 600;
          }

          a {
            font-size: 1rem;
          }
        }
      }

      .first-row h3 {
        line-height: 0rem;
        margin-top: 2rem;
      }

      .last-row td {
        padding-bottom: 2rem;
      }
    }
  }
}

@media (--medium) {
  .footer {

    .footer__inner {
      max-width: none;
      padding-top: 8rem;
      lost-utility: clearfix;
    }

    .footer__col {
      lost-column: 1/3;

      &.footer__col--about {
        lost-column: 1/3;
      }

      &.footer__col--social,
      &.footer__col--newsletter {
        lost-column: 1/3;
      }

      &.footer__col--social {
        padding-left: 6rem;
        margin-top: -3rem;
      }

      &.footer__col--newsletter {
        margin-top: -3rem;
      }
    }

    .footer__detail {
      padding: 2rem 2rem 2rem 4rem;
    }

    .footer__table {

      margin-left: 4rem;
      tr {

        td {

          h3 {
            padding-top: 2rem;
            padding-left: 0rem;
            padding-right: 2rem;
            font-weight: 600;
            font-family: Open Sans, Helvetica, sans-serif;
          }

          a {
            font-size: 1rem;
            font-family: Open Sans, Helvetica, sans-serif;
          }
        }
      }

      .first-row h3 {
        line-height: 0rem;
        margin-top: 2rem;
      }

      .last-row td {
        padding-bottom: 2rem;
      }
    }
  }
}

@media (--medium-large) {
  .footer {

    .footer__inner {
      lost-center: 1200px
    }

    .footer__table {

      margin-left: 4rem;
      tr {

        td {

          h3 {
            padding-top: 2rem;
            padding-left: 0rem;
            padding-right: 2rem;
            font-weight: 600;
          }

          a {
            font-size: 1.2rem;
          }
        }
      }

      .first-row h3 {
        line-height: 0rem;
        margin-top: 2rem;
        padding-bottom: 1rem;
      }

      .last-row td {
        padding-bottom: 2rem;
        float: left;
      }

      .sub-row {
        float: left;
        a {
          padding-right: 3.5rem;
        }
      }
    }

    .footer__table.last__table {
      width: 35%;
    }

    .footer__table.second__table {
      width: 25%;
      margin-left: 8rem;
    }

    .footer__career {

    }
  }
}

@media (--large) {
  .footer {

    .footer__inner {
      lost-center: 1350px;
      padding-bottom: 6rem;
    }

    .footer__newsletter-text {
      padding-right: 2rem;
    }
  }
}
