input,
select,
textarea {
	border: $storke-width solid $accent-primary;
	background-color: $light-primary;
	color: $accent-primary;
	padding: 1.6rem;
	width: 100%;
	border-radius: $border-radius;
}

textarea {
	min-height: 20rem;
}

input:focus,
textarea:focus {
	outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

::placeholder {
	color: $grey-tertiary;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

.wpcf7-form {

	input,
	select,
	textarea {
		border: 0;
		box-shadow: 0 .3rem .8rem 0 rgba($dark-primary, 0.2);
		margin-bottom: 2rem;

		&[type="submit"] {
			display: block;
			margin: 4rem auto 0;
			width: 26rem;
		}
	}

	label {
		display: none;
	}
}

@media (--medium-large) {
	.wpcf7-form {

		input,
		select,
		textarea {
			margin-bottom: 5rem;
		}
	}
}
