/* ## Box Sizing
--------------------------------------------- */

html,
input[type="search"]{
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	transition: 0s;
}

/* # Defaults
---------------------------------------------------------------------------------------------------- */

/* ## Typographical Elements
--------------------------------------------- */

html {
	font-size: 62.5%; /* 10px browser default */
}

body {
	background-color: $light-primary;
	color: $dark-primary;
  font-family: $font-body;
	font-size: 1.8rem;
	-webkit-font-smoothing: antialiased;
	font-weight: 600;
	line-height: 1.625;
	margin: 0;
	overflow-x: hidden;
	overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

body.dated {
	display: block;
	height: 100%;
}

div:focus,
div:active,
section:active,
section:focus {
	outline: 0;
	-webkit-appearance: 0;
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition:    all 0.1s ease-in-out;
	-ms-transition:     all 0.1s ease-in-out;
	-o-transition:      all 0.1s ease-in-out;
	transition:         all 0.1s ease-in-out;
}


a,
a:active,
a:visited,
-webkit-link {
	color: $link-primary;
  text-decoration: none;
}

a:hover,
a:focus {
	color: $link-secondary;
	text-decoration: none;
}

p {
	line-height: 1.7;
	margin: 0;
  letter-spacing: 0.02rem;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
}

p.post__date {

}

.post__body {
	font-size: 1.5rem;
}


ol,
ul {
	margin: 0;
	padding: 0;
}

main {
	section {
		ul {
			li {
		  list-style-type: disc;
		  margin-left: 2rem;
			page-break-inside: avoid;
			break-inside: avoid;
			}
		}
		ol {
			li {
			  list-style-type: decimal;
			  margin-left: 2rem;
			}
		}
	}
}

li {
	list-style-type: none;
}

hr {
	margin-left: 20%;
	margin-right: 20%;
	clear: both;
	/*margin: 2em 0;*/
	padding-bottom: 2rem;
	margin-bottom: 3.25rem;
	border-collapse: collapse;
	max-width: 100%;
	border-color: $accent-primary;
	border-width: 0;
	border-bottom-width: 3px;
}

b,
strong {
	font-weight: 500;
}

blockquote,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 40px;
}

blockquote::before {
	content: "\201C";
	display: block;
	font-size: 30px;
	font-size: 3rem;
	height: 0;
	left: -20px;
	position: relative;
	top: -10px;
}

/* ## Headings
--------------------------------------------- */

h1,
.xlarge,
h2,
.large,
h3,
.medium,
h4,
.small,
h5,
.xsmall,
h6,
.xxsmall {
	font-weight: 700;
	margin-top: 0;
	font-family: $font-heading;
	line-height: 1.6;
}

h1,
.xlarge {
	font-size: 2.5rem;
	margin-bottom: 3.5rem;
}

h2,
.large {
	font-size: 2.2rem;
	margin-bottom: 1.3rem;
	color: $accent-primary;
}

h3,
.medium {
	font-size: 2.0rem;
	margin-bottom: 1rem;
}

h4,
.small {
	font-size: 2rem;
	margin-bottom: 1.2rem;
	text-transform: uppercase;
}

h5,
.xsmall {
	font-size: 1.8rem;
}

h6,
.xxsmall {
	font-size: 1.6rem;
}

/* ## Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

img {
	height: auto;
}

figure {
	margin: 0;
}

/* ## Tables
--------------------------------------------- */

table {
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 2;
	margin-bottom: 40px;
	width: 100%;
	word-break: break-word;
}

td,
th {
	text-align: left;
}

td {
	padding: 0;
	line-height: 1.8;
}

th {
	padding: 0.6rem;
}


/* # DRY
------------------------------------------------------------------------------------------------------------------------------*/

.hero {
	padding-top: 4rem;

	.hero__logo {
      width: 26rem;
      display: block;
      padding-bottom: 4rem;
			padding-top: 4rem;
	}
}

.book {
  background-color: $grey-secondary;
  text-align: center;

	.book__heading {
	  color: $light-primary;
	}
}

.text-semibold {
	font-weight: 600;
	color: $accent-primary;
	font-size: 2rem;
	line-height: 1.8;
}

.text-bold {
	font-weight: 700;
	line-height: 1.4;
	text-transform: none;

	&:not(h2) {
		font-size: 2rem;
	}
}

.indent {
	border-left: $stroke-width solid $accent-primary;
	padding-left: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.icon-sm {
	width: 6rem;
	padding-bottom: 1rem;
}

.icon-md {
	width: 9rem;
	padding-bottom: 1rem;
}

main {
	position: relative;
	flex: 1;
	& > .content-wrapper {
		overflow-x: hidden;
		& > section {
	    background-size: cover;
	    background-position: center;
			& > .wrap {
				lost-center: 320px;
				padding: 6rem 2rem;
			}
		}
	}
	#sidebar {
		& > .wrap {
			padding: 10rem 8rem;
		}
	}
}

@media (--xsmall) {
	main {

		.post-type-bh_sl_locations {
			.post__body {
		    margin-top: 0rem;
			}
		}

		.bh-sl-container {
			margin-top: -17rem;
		}

		.book {

			.wrap-book {
				padding-top: 6rem;
				padding-bottom: 6rem;
				padding-left: 3rem;
				padding-right: 3rem;
			}
		}
	}
}

@media (--small) {
	main {
		& > .content-wrapper {
			& > section {
				& > .wrap {
					lost-center: 414px;
					padding: 7rem 2rem;
				}
			}
		}
		.book {
			.wrap-book {
				padding-top: 6rem;
				padding-bottom: 6rem;
				padding-left: 3rem;
				padding-right: 3rem;
			}
		}
	}
}

@media (--medium) {
	h1,
	.xlarge {
		font-size: 3.1rem;
		margin-bottom: -2rem;
		margin-top: 6rem;
	}

	h2,
	.large {
		font-size: 3.0rem;
		margin-bottom: 1.3rem;
		line-height: 4rem;
	}

	.book {

		.book__group {
			lost-center: 100% flex;
			align-items: center;
		}

		.book__image-container {
			lost-column: 1/6;
		}

		.book__content {
			lost-column: 5/6;
		}

		.book__heading {
			text-align: left;
			font-size: 2rem;
			border-left: $stroke-width solid $accent-primary;
			padding: 2.5rem 0;
			padding-left: 6rem;
			margin-bottom: 0;
		}

		.book__icon {
			padding: 0;
		}

	}

	.icon-sm {
		width: 7rem;
	}

	.icon-md {
		width: 12rem;
		height: 12rem;
		padding-bottom: 2rem;
	}

	main {
		& > .content-wrapper {
			& > section {
				& > .wrap {
					lost-center: 700px;
					padding: 9rem 2rem;
				}
			}
		}
		.post-type-bh_sl_locations {
			.post__body {
		    margin-top: 13rem;
			}
		}

		.bh-sl-container {
			margin-top: -12rem;
		}
		.book {
			.wrap-book {
				padding-top: 6rem;
				padding-bottom: 8rem;
				padding-left: 3rem;
				padding-right: 3rem;
			}

			.book__heading {
				font-size: 2.2rem;
			}

			.book__image-container:nth-child(n) {
				margin-right: 0rem;
				margin-left: 3rem;
			}
		}
	}
}


@media (--medium-large) {

	h1 {
		margin-bottom: -10rem;
	}

	h2,
	.large {
	}

	.text-bold:not(h2) {
		font-size: 2.5rem;
	}

	.text-semibold:not(.xlarge) {
		font-size: 2.2rem;
	}

	.hero {
		padding-top: 4rem;

		.hero__logo {
      width: 30rem;
		}
	}

	.indent {
		padding-top: 2.5rem;
		padding-bottom: 2.5rem;
		margin-bottom: 4rem;
	}

	.icon-sm {
		width: 9.5rem;
	}

	.icon-md {
		width: 15rem;
		height: 15rem;
	}

	.book {

		.book__heading {
			font-size: 3rem;
			margin-left: 2rem;
			padding-top: 4rem;
			padding-bottom: 4rem;
		}
	}


	main {
		& > .content-wrapper {
			& > section {
				& > .wrap {
					lost-center: 900px;
					padding: 13rem 2rem;

					&.wrap--narrow {
						lost-center: 740px;
					}
				}
			}
		}

		.bh-sl-container {
			margin-top: 0rem;
		}

		.book {

			.wrap-book {
				padding-top: 8rem;
				padding-bottom: 2rem;
				padding-left: 3rem;
				padding-right: 3rem;
			}

			.book__heading {
				font-size: 3.2rem;
			}
		}
	}
}

@media (--large) {


	html {
		font-size: 72.5%;
	}

	h2,
	.large {
		font-size: 3rem;
	}

	.text-semibold:not(.xlarge) {
		font-size: 2.4rem;
		line-height: 2;
	}

	.hero {
		padding-top: 4rem;

		.hero__logo {
      width: 40rem;
		}
	}

	.book {
		padding: 2rem 0;

		.book__heading {
			font-size: 3.6rem;
		}
	}

	main {
		& > .content-wrapper {
			& > section {
				& > .wrap {
					lost-center: 1200px;

					&.wrap--narrow {
						lost-center: 900px;
					}
				}
			}
		}

		.book {

			.wrap-book {
				padding-top: 6rem;
				padding-bottom: -2rem;
				padding-left: 3rem;
				padding-right: 3rem;
			}

			.book__image-container:nth-child(n) {
				margin-left: 0rem;

				.icon-sm.book__icon {
					margin-left: 8rem;
				}
			}

			.book__heading {
				margin-left: 6rem;
				font-size: 4rem;
			}

			.btn-alt.book__button.input-health.universe__button {

			}
		}
	}
}

@media (--xlarge) {
	.book {

		.book__group {
			margin-left: 17rem;
		}
	}
}
