/* Fonts */
$font-heading: 'Open Sans', Helvetica, sans-serif;
$font-body: 'Open Sans', Arial, sans-serif;
$font-secondary: 'Montserrat', Arial, sans-serif;

/* Width Variables */
$width-xsmall: 414px;
$width-small: 540px;
$width-medium: 720px;
$width-medium-large: 1024px;
$width-large: 1400px;
$width-xlarge: 1800px;


/* Media Queries */
@custom-media --xsmall (min-width: 300px);
@custom-media --small (min-width: 540px);
@custom-media --medium (min-width: 720px);
@custom-media --medium-large (min-width: 1024px);
@custom-media --large (min-width: 1400px);
@custom-media --xlarge (min-width: 1800px);

/* Media Queries */
/*
@custom-media --xsmall (min-width: $width-xsmall);
@custom-media --small (min-width: $width-small);
@custom-media --medium (min-width: $width-medium);
@custom-media --medium-large (min-width: $width-medium-large);
@custom-media --large (min-width: $width-large);
@custom-media --xlarge (min-width: $width-xlarge);
*/

/* Colors */
$main-primary: #000;
$main-secondary: #ccc;

$accent-primary: #77A080;
$accent-secondary: #77A080;

$light-primary: #fff;
$dark-primary: #393939;

$grey-primary: #35363A;
$grey-secondary: $dark-primary;
$grey-tertiary: #5D5E61;

$menu-primary: $main-primary;
$menu-secondary: $main-primary;

$link-primary: $accent-primary;
$link-secondary: $accent-secondary;


$stroke-width: .3rem;
$stroke-width--thin: .1rem;
$border-radius: .6rem;
