.header {
  position: absolute;
  width: 100%;
  padding: 1rem 2rem;
  z-index: 1;
  color: $menu-primary;

  .wrapper {
    display: flex;
    align-items: center;
  }

  .title-area {
    display: none;
    position: relative;
    width: auto;
    text-align: center;

    .logo {
      font-family: $font-heading;
      text-align: center;
      line-height: 1;

      .logo-link {

        img {
          height: 4rem;
        }
      }
    }

    .selector {
      text-align: left;
      position: absolute;
      min-width: 10rem;
      top: .25rem;
      left: 5.5rem;
      display: none;
      cursor: pointer;

      .current__outer {
        opacity: 0.5;
        border-bottom: $stroke-width--thin solid $dark-primary;
      }

      .selector__list {
        position: absolute;
        margin-top: 1rem;
        background-color: rgba($light-primary, 0.9);
        color: $accent-primary;
        padding: 1rem;
        border-radius: $border-radius;
        display: none;
      }

    }

    .description {
      font-family: $font-heading;
      font-weight: bold;
      font-style: italic;
    }
  }


  .nav-main {

    margin-left: auto;

    .menu-toggle {
      color: $accent-primary;
    }

    ul {
      background: $light-primary;
      position: absolute;
      top: 100%;
      right: 3rem;
      width: 28rem;
      padding: 2rem 2rem 3rem;
      display: none;
      border-radius: $border-radius;
      box-shadow: 0 .5rem 1rem 0 rgba($dark-primary, 0.2);
      li {
        text-align: center;
        list-style-type: none;
        color: $accent-primary;
        a {
          display: inline-block;
          width: 20rem;
          /*padding: 1.5rem 1rem;*/
          line-height: 1.2;
          margin-left: -2rem;
        }

        &.highlight {
          margin-top: 1rem;
          a {
            background-color: $accent-primary;
            border-radius: $border-radius;
            color: $light-primary;
            font-weight: 700;
          /*  padding-bottom: 20px;*/
          }
        }
      }
    }

    li.highlight.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-104 {

      a#nav_id:hover {
        background-color: $grey-tertiary;
      }
    }
  }

  &.header--light {
    .nav-main {
      .menu-toggle {
        color: $light-primary;
      }
    }

    .title-area {
      .selector {

        .current__outer {
          color: $light-primary;
          border-color: $light-primary
        }
      }
    }
  }
}

@media (--small) {
  .header {

    .nav-main {

      .menu-toggle {

      }
      ul {

        &.menu-main {

        }
        &[class*="menu"] {

          li {

            &.menu-item-has-children {

              .fa-angle-down {
                margin-left: -1rem;
                margin-right: 1rem;
              }

              .menu-submenu {

              }

              &:hover {
                & > ul.menu-submenu {

                }
              }

              .menu-item-object-category {
                /*background-color: $light-primary;*/

                a {
                  margin-right: -4rem;
                  /*color: $dark-primary;*/
                }
              }
            }
            a {

            }

            &.highlight {

              a {

              }
            }
          }
        }
        &.menu-submenu {

          li {

            a {

            }
          }
        }
      }
    }
  }
}

@media (--medium) {
  .header {
    padding: 2rem 1rem;
    font-size: 1.3rem;
    .nav-main {
      margin-left: auto;
      .menu-toggle {
        display: none !important;
      }
      ul {
        box-shadow: none;
        &.menu-main {
          display: inline-block !important;
          width: auto;
        }

        &[class*="menu"] {
          position: relative;
          background: rgba(0,0,0,0);
          padding: 0;
          display: inline-block !important;
          border: none;
          li {
            display: inline-block;
            &.menu-item-has-children {
              position: relative;
              &:hover {
                & > ul.menu-submenu {
                  opacity: 1;
                  display: inline-block;
                }
              }

              .menu-item-object-category {

                a {
                  margin-right: -5.5rem;
                }
              }
            }
            a {
              border: none;
              padding: 0.5rem 1.4rem;
              width: auto;
              color: $dark-primary;
            }

            &.highlight {
              margin-top: 0rem;
              a {
                color: $light-primary;
                width: 85%;
                font-size: 1rem;
                margin-top: 1.5rem;
              }
            }
          }
        }
        &.menu-submenu {
          opacity: 0;
          display: none;
          position: absolute;
          background: transparent;
          width: 20rem;
          padding-left: 14rem;
          li {
            width: 100%;
            a {
              /*text-align: center;*/
              width: 100%;
              padding: 1rem;
            }
          }
        }
      }
    }

    &.header--light {
      .nav-main {
        .menu-toggle {
          color: $light-primary;
        }

        ul {

          &[class*="menu"] {

            li {

              a {
                color: $light-primary;
              }
            }
          }
        }
      }
    }
  }
}

@media (--medium-large) {
  .header {
    padding: 2rem 2rem 4rem 1rem;
    font-size: 1.6rem;
    .nav-main {
      padding-top: 1rem;

      .menu-toggle {

      }
      ul {
        &.menu-main {
          display: inline-block !important;
          width: auto;
        }
        &[class*="menu"] {

          li {

            &.menu-item-has-children {

              &:hover {
                & > ul.menu-submenu {

                  }
                }

              .menu-item-object-category {

                a {

                    margin-right: -4rem;
                  }
                }
              }
              a {
                padding: 0.8 rem 2rem;

              }

              &.highlight {
                /*margin-left: 4rem;*/

                a {
                  color: $light-primary;
                  width: 85%;
                  font-size: 1.1rem;
                  margin-top: 1rem;
                }
              }
            }
          }
          &.menu-submenu {

            li {

              a {

              }
            }
          }
        }
      }
      /*ul {
        &[class*="menu"] {
          li {

            a {
              padding: 1rem 3rem;
            }

            &.highlight {
              margin-left: 4rem;
            }
          }
        }
      } */
    }
  }


@media (--large) {

  .header {
    font-size: 1.8rem;

    .nav-main {

      ul {

        &.menu-main {

        }
        &[class*="menu"] {

            li {

              &.menu-item-has-children {

                .fa-angle-down {
                  margin-left: -2rem;
                  margin-right: 1rem;
                }


                &:hover {
                  & > ul.menu-submenu {

                  }
                }

                .menu-item-object-category {

                  a {
                    margin-right: -2.5rem;
                  }
                }
              }
              a {
                margin-right: 1rem;
              }

              &.highlight {
                padding-left: 1.5rem;
                a {

                  width: 120%;
                  font-size: 1.4rem;
                  margin-top: 0rem;
                }
              }
            }
          }
          &.menu-submenu {

            li {

              a {

              }
            }
          }
        }
      }
    }
  }
