.popup {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 999;

  display: none;

  .popup__overlay {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(#000,0.4);
  }

  .popup__container {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .popup__body {
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
    background-color: $light-primary;
    border-radius: $border-radius;
    box-shadow: 0 0 1rem 0 rgba($dark-primary, 0.3);
  }

  .popup__inner {
    padding: 4rem;
    text-align: center;
  }

  .popup__logo,
  .popup__text {
    padding-bottom: 2rem;
  }

  .popup__logo {
    width: 100%;
    lost-center: 30rem;
  }

  .popup__form {
    display: inline-block;
  }

  .popup__select {
    width: 10rem;
    text-align: center;
    appearance: none;
  }

  .popup__enter {
    margin: auto;
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
  }
}

@media (--small) {
  .popup {

    .popup__body {
      width: 40rem;
    }
  }
}

@media (--medium-large) {
  .popup {

    .popup__body {
      width: 50rem;
    }
  }
}
