.single-post {

  .post__meta {

    .post__title {
      margin-top: 4rem;
      color: $dark-primary;
      z-index: 0;
    }
  }

  .post__image {
    opacity: 0.3;
    z-index: -2;
    overflow:hidden;
  }

  .post-img-container {
    padding: 2rem 0;
  }

}

@media (--xsmall) {
  .single-post {

    .post__image {
      margin-top: -55rem;
      margin-left: -20rem;
      max-width: 240%;
      width: 240%;
    }

    .post__body {


    }
  }
}

@media (--small) {
  .single-post {

    .post__image {
      max-width: 210%;
      width: 210%;
    }

    .post__body {


    }
  }
}

@media (--medium) {
  .single-post {

    .post__image {
      margin-top: -67rem;
      /*margin-left: -50rem;*/
      max-width: 160%;
      width: 160%;
    }

    .post__body {
      margin-top: 3rem;
    }
  }

  .post-type-bh_sl_locations .post__meta .post__title {
    margin-bottom: -10rem;
  }
}

@media (--medium-large) {
  .single-post {

    .post__image {
      margin-top: -110rem;
      margin-left: -30rem;
      max-width: 170%;
      width: 170%;
    }

    .post__body {

    }
  }
}

@media (--large) {
  .single-post {

    .post__image {
      margin-top: -113rem;
      max-width: 160%;
      width: 160%;
    }

    .post__body {

    }
  }
}

@media (--xlarge) {
  .single-post {

    .post__image {
      margin-top: -125rem;
      margin-left: -40rem;
      max-width: 200%;
      width: 200%;
    }

    .post__body {
      line-height: 3rem;
    }
  }
}
