{% extends "base.twig" %}

{% block content %}
  <section class="hero">
    <div class="wrap">
      <div class="hero__group">
        <div class="hero__content">
          <h1 class="indent hero__heading">{{post.hero_heading}}</h1>
          <p class="hero__body">{{post.hero_body}}</p>
        </div>
      </div>
    </div>
  </section>
  <section class="logo">
    <img class="logo__image" src="/wp-content/uploads/careerpagegraphic.png" alt="Compass Logo Icon" >
  </section>
  <section class="postings">
    <div class="wrap">
      <div class="postings__group">
        <div class="postings__content">
          <p class="postings__body">{{post.postings_body}}</p>
          <div class="text-semibold postings__jobdescription">{{post.postings_jobdescription}}</div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
