{% extends "base.twig" %}

{% block content %}
	<section class="hero">
		<div class="wrap">
			<div class="hero__group">
				<div class="hero__content">
					<img class="hero__booking-logo" src="https://compasscannabis.ca/wp-content/themes/ccc/dist/img/logo-full-dark.svg" alt="">
					<h3 class="hero__booking_info indent">We connect patients with doctors and Licensed Producers to get the best quality cannabis for medicinal purposes, legally.</h3><br />
					<!--<p>It takes five minutes to register and book your free ten minute appointment with a doctor.<br /><br />
					From there, our Patient Educators will work with you to choose a Licensed Producer (LP) and set up your account. We will help you make your first order online, and it will be shipped through Canada Post.<br /></p>
				</p>-->
				</div>
			</div>
		</div>
	</section>
	<section class="divider">
		<div class="divider__content">
			<hr class="divider__row">
		</div>
	</section>
	<section class="logo">
		<img class="logo__image" src="/wp-content/uploads/clipboard-booking.png" alt="logo image" >
	</section>
	<section class="selection">
		<div class="wrap">
			<div class="selection__group">
				<div class="selection__content">
					<h4 class="selection__header">Select your province.</h4>
					<a id="booking__button-ab" class="btn-mod booking__button-ab-link" href="https://compassab.inputhealth.com/ebooking#new" target="_blank">Alberta</a>
					<a id="booking__button-bc" class="btn-mod booking__button-bc-link" href="https://compassbc.inputhealth.com/ebooking#new" target="_blank">British Columbia</a>
					<br />
					<p class="selection__body">NOTE: Please use Google Chrome for the most stable and up to date version of the Input Health appointment software.<br /><br />If you do not have Google Chrome you can download it from <a href="https://www.google.com/chrome/" target="_blank">here</a>.</p>

				</div>
			</div>
		</div>
	</section>
	<!--
	<section class="accepting">
		<div class="wrap">
			<div class="accepting__group">
				<div class="accepting__content">
					<h2>Now accepting appointments at the following locations:</h2>
					<div class="accepting__locations">
						<h3><a href="/compass-lake-country/" target="_blank">Lake Country, BC</a></h3>
						<h3><a href="/compass-dawson-creek/" target="_blank">Dawson Creek, BC</a></h3>
						<h3><a href="/compass-kelowna/" target="_blank">Kelowna, BC</a></h3>
						<h3><a href="/compass-fernie/" target="_blank">Fernie, BC</a></h3>
						<h3><a href="/compass-banff/" target="_blank">Banff, AB</a></h3>
						<h3>Okotoks, AB</h3>
						<h3><a href="/calgary-11th-ave/" target="_blank">Calgary 11th Ave, AB</a></h3>
						<h3><a href="/canmore/" target="_blank">Canmore, AB</a></h3>
						<h3><a href="/compass-bowness/" target="_blank">Calgary Bowness, AB</a></h3>
						<h3><a href="compass-sherwood-park/" target="_blank">Sherwood Park, AB</a></h3>
						<h3>Edmonton Westlawn, AB</h3>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<section class="overflow">
		<div class="wrap">
			<div class="overflow__group">
				<div class="overflow__content">
					{{post.overflow_shortcode | shortcodes}}
				</div>
			</div>
		</div>
	</section>
	<section class="informal">
		<div class="wrap">
			<div class="informal__group">
				<div class="informal__content indent">
					<h3 class="informal__heading"><!--We connect patients with doctors and Licensed Producers to get the best quality cannabis for medicinal purposes, legally.-->It takes five minutes to register and book your free appointment with a doctor.</h3><br />
					<p class="informal__body">From there, our Patient Educators will work with you to choose a Licensed Producer (LP) and set up your account. We will help you make your first order online, and it will be shipped through Canada Post.<br /></p>
					</p>
					<!--
					<p>NOTE: Please use Google Chrome for the most stable and up to date version of the Input Health appointment software.<br /><br />If you do not have Google Chrome you can download it from <a href="https://www.google.com/chrome/" target="_blank">here</a>.<br /><br /></p>
					<h2>Select Your Province</h2>
					<ul>
						<li><a id="alberta__button" href="https://compassab.inputhealth.com/ebooking#new" target="_blank">Alberta</a></li>
						<li><a id="britishcolumbia__button" href="https://compassbc.inputhealth.com/ebooking#new" target="_blank">British Columbia</a></li>-->
						<!--<li>Saskatchewan - Coming Soon!</li>
						<li>Manitoba - Coming Soon!</li>
						<li>Ontario - Coming Soon!</li>
						 <li>Quebec - Coming Soon!</li>
						<li>Nova Scotia - Coming Soon!</li>
						<li>New Brunswick - Coming Soon!</li>
						<li>PEI - Coming Soon!</li>
						<li>New Found Land - Coming Soon!</li>-->
					</ul>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
