{% extends "base.twig" %}

{% block content %}
<section class="hero">
  <div class="wrap">
    <div class="hero__group">
      <div class="hero__content">
        <div class="hero__body">
          <!--<img class="headerimage__logo-img" src="/wp-content/uploads/logo.png" alt="logo">-->
          <h3 class="indent hero__heading">{{post.hero_heading}}</h3>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="headerimage">
    <img class="headerimage__laptop-img" src="/wp-content/uploads/laptop2.png" alt="laptop">
</section>
<section class="why">
  <div class="wrap">
    <div class="why__group">
      <div class="why__content">
        <h3 class="indent why__subheading">{{post.why_subheading}}</h3>
        <!--<br />
        <p class="why__body">{{post.why_body}}</p>-->
        <br />
        <a class="why__button btn-alt" href="https://medihuanna.com/medicinal-cannabis-fundamentals/" target="_blank">Watch the Video</a>
      </div>
    </div>
  </div>
</section>
<!--
<section class="benefits">
  <div class="wrap">
    <div class="benefits__group">
      <div class="benefits__content">
        <h3 class="indent benefits__heading">{{post.benefits_heading}}</h3>
      </div>
    </div>
  </div>
</section>
<!--
<section class="independence">
  <div class="wrap">
    <h3 class="independence__heading">{{post.independence_heading}}</h3>
    <div class="independence__items-container">
      {% for item in post.get_field('independence_list') %}
      <div class="independence__list">
        <div class="independence__group">
          <img class="independence__bullet" src="{{Image(item.bullet).src}}" alt="{{Image(item.bullet).alt}}">
          <p class="independence__item">{{item.item}}</p>
        </div>
       </div>
      {% endfor %}
    </div>
  </div>
</section>
<section class="payment">
  <div class="wrap">
    <h3 class="payment__heading">{{post.payment_heading}}</h3>
    <div class="payment__items-container">
      {% for item in post.get_field('payment_list') %}
      <div class="payment__list">
        <div class="payment__group">
          <img class="payment__bullet" src="{{Image(item.bullet).src}}" alt="{{Image(item.bullet).alt}}">
          <p class="payment__item">{{item.item}}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</section> -->
<!--
<section class="comfort">
  <div class="wrap">
    <h3 class=" comfort__heading">{{post.comfort_heading}}</h3>
    <div class="comfort__items-container">
      {% for item in post.get_field('comfort_list') %}
      <div class=" comfort__list">
        <div class="comfort__group">
          <img class="comfort__bullet" src="{{Image(item.bullet).src}}" alt="{{Image(item.bullet).alt}}">
          <p class="comfort__item">{{item.item}}</p>
        </div>
       </div>
      {% endfor %}
    </div>
  </div>
</section>
<section class="flex">
  <div class="wrap">
    <h3 class=" flex__heading">{{post.flex_heading}}</h3>
    <div class="flex__items-container">
      {% for item in post.get_field('flex_list') %}
      <div class=" flex__list">
        <div class="flex__group">
          <img class="flex__bullet" src="{{Image(item.bullet).src}}" alt="{{Image(item.bullet).alt}}">
          <p class="flex__item">{{item.item}}</p>
        </div>
       </div>
      {% endfor %}
    </div>
  </div>
</section>
<section class="security">
  <div class="wrap">
    <h3 class=" security__heading">{{post.security_heading}}</h3>
    <div class="security__items-container">
      {% for item in post.get_field('security_list') %}
      <div class=" security__list">
        <div class="security__group">
          <img class="security__bullet" src="{{Image(item.bullet).src}}" alt="{{Image(item.bullet).alt}}">
          <p class="security__item">{{item.item}}</p>
        </div>
       </div>
      {% endfor %}
    </div>
  </div>
</section>
<section class="doctorcontact">
  <div class="wrap">
    <div class="doctorcontact__group">
      <div class="doctorcontact__avatar-container">
        <img class="doctorcontact__avatar" src="{{Image(post.doctorcontact_avatar).src}}" alt="{{Image(post.doctorcontact_avatar).alt}}">
      </div>
      <div class="doctorcontact__info">
        <p class="doctorcontact__name">{{post.doctorcontact_name}}</p>
        <p class="doctorcontact__title">{{post.doctorcontact_title}}</p>
        <p class="doctorcontact__email">{{post.doctorcontact_email}}</p>
        <p class="doctorcontact__phone">{{post.doctorcontact_phone}}</p>
      </div>
      <div class="doctorcontact__content">
        <p class="doctorcontact__body">{{post.doctorcontact_body}}</p>
      </div>
      <div class="doctorcontact__input">
        <!--<form method="post" action="mailto:brianna.martyn@compasscannabis.ca" target="_top">
          <input type="submit" value="Email Brianna" class="doctorcontact__button">
        </form>
        <a target="_top" href="mailto:brianna.martyn@compasscannabis.ca">Email Us</a>
      </div>
    </div>
  </div>
</section>-->
{% endblock %}
