{% extends "base.twig" %}

{% block content %}
  <section class="form">
    <a name="jump"></a>
    <div class="wrap">
      <div class="form__container">
        <!--<div class="form__header">
          <h2 class="form__heading">{{post.form_heading}}</h2>
        </div>-->
        <div class="form__body">
          <!--<p class="indent form__content">{{post.form_content}}</p>-->
          {{post.form_shortcode | shortcodes}}
        </div>
      </div>
    </div>
  </section>
  <!--<section class="iconImages">
    <img class="iconImages__image" src="/wp-content/uploads/iconimages.png" alt="Compass Logo Icon" >
  </section>-->
  <!--
  <section class="information">
    <div class="wrap">
      <h1 class="hero__heading">Contact</h1>
      </div>
      <p class="indent information__content">{{post.information_content}}</p>
    </div>
  </section>-->
  <section class="brookline">
    <div class="wrap">
      <div class="brookline__group">
        <div class="brookline__content">
          <div class="brookline__image-container">
            <img class="brookline__image" src="/wp-content/uploads/BPR_black.png" alt="Brookline Logo" >
          </div>
          <div class="brookline__text-container">
            <p class="brookline__text">{{post.brookline_text}}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
