{% extends "base.twig" %}

{% block content %}
<section class="hero">
	<div class="wrap">
		<div class="hero__group">
			<div class="hero__content">
				<h1 class="indent hero__header">We currently have multiple Compass locations that are already in operation and others that are still being constructed across Canada.</h1>
			</div>
		</div>
	</div>
</section>
<section class="map">
	<img class="map__image" src="/wp-content/uploads/Compass_Map_3.0.png" alt="Map image" >
</section>
<section class="bc">
		<div class="wrap">
			<h2 class="bc__header">{{post.bc_header}}</h2>
			<hr class="bc__header_hr"></hr>
			{% for item in post.get_field('bc_location') %}
			 <div class="bc__group">
					<h3 class="bc__location_name">{{item.bc_location_name}}</h3>
					<p class="bc__location_address">{{item.bc_location_address}}</p>
					<p class="bc__location_postal">{{item.bc_location_postal}}</p>
					<p class="bc__location_phone">{{item.bc_location_phone}}</p>
					<hr>
			 </div>
			 {% endfor %}
		</div>
</section>
<section class="alberta">
		<div class="wrap">
			<h2 class="alberta__header">{{post.alberta_header}}</h2>
			<hr class="alberta__header_hr"></hr>
			{% for item in post.get_field('alberta_location') %}
	     <div class="alberta__group">
	     		<h3 class="alberta__location_name">{{item.alberta_location_name}}</h3>
					<p class="alberta__location_address">{{item.alberta_location_address}}</p>
					<p class="alberta__location_postal">{{item.alberta_location_postal}}</p>
					<p class="alberta__location_phone">{{item.alberta_location_phone}}</p>
					<hr>
			 </div>
	     {% endfor %}
		</div>
</section>
<section class="placeholder" style="backgrund-color: #fff;">
	<div class="wrap">
	</div>
</section>
<section class="upcoming">
		<div class="wrap">
			<h2 class="upcoming__header">{{post.upcoming_header}}</h2>
			<hr class="upcoming__header_hr"></hr>
			{% for item in post.get_field('upcoming_location') %}
			<div class="upcoming__group">
				<h3 class="upcoming__location_name">{{item.upcoming_location_name}}</h3>
				<p class="upcoming__location_address">{{item.upcoming_location_address}}</p>
				<p class="upcoming__location_postal">{{item.upcoming_location_postal}}</p>
				<p class="upcoming__location_address">{{item.upcoming_location_province}}</p>
				<hr class="upcoming__location_hr"></hr>
		 	</div>
	     {% endfor %}
		</div>
</section>
<!--
<section class="confirm">
		<div class="wrap">
			<h2 class="confirm__header">{{post.confirm_header}}</h2>
			<hr class="confirm__header_hr"></hr>
			{% for item in post.get_field('confirm_location') %}
			<div class="confirm__group">
				 <h3 class="confirm__location_name">{{item.confirm_location_name}}</h3>
				 	<p class="upcoming__location_address">{{item.confirm_location_province}}</p>
				 <hr class="confirm__location_hr"></hr>
			</div>
	     {% endfor %}
		</div>
</section>
-->
<section class="confirmation">
	<div class="wrap">
		<div class="confirmation__group">
			<div class="confirmation__content">
				<h1 class="indent confirmation__header">Please check back in frequently to get the most updated list of clinics available to help you on your journey to wellness.</h1>
			</div>
		</div>
	</div>
</section>
{% endblock %}
