{% extends "base.twig" %}

{% block content %}
  <section class="hero">
    <div class="wrap">
      <div class="hero__item-container">
        {% for item in post.get_field('hero_content') %}
        <div class="hero-item">
          <img class="hero-item__icon icon-md" src="{{site.theme.link}}/dist/img/icons/icon-{{item.icon}}" alt="{{item.title}} icon" aria-hidden="true">
          <h2 class="medium hero-item__title">{{item.title}}</h2>
          <p class="hero-item__body">{{item.body}}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <section class="detailed">
    <div class="wrap">
      <!--<img class="detailed__logo" src="{{site.theme.link}}/dist/img/logo-full-dark.svg" alt="Compass Cannabis Clinic logo">-->
        {% for item in post.get_field('detailed') %}
        <div class="detailed__item">
          <h2 class="indent detailed__header">{{item.header}}</h2>
          <p class="detailed__content">{{item.content}}</p>
        </div>
        {% endfor %}
    </div>
  </section>
  <section class="team">
    <div class="wrap">
      <h2 class=" indent team__heading">{{post.team_heading}}</h2>
      <div class="team__members-container">
        {% for item in post.get_field('members') %}
          <div class="member">
            <div class=" member__group">
              <div class="member__avatar-container">
                <img class="member__avatar" src="{{Image(item.avatar).src}}" alt="{{Image(item.avatar).alt}}">
              </div>
              <div class="member__content">
                <h3 class="member__name">{{item.name}}</h3>
                <h3 class="member__position">{{item.position}}</h3>
                <p class="member__bio">{{item.bio}}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <section class="testimonial">
    <div class="testimonial">
      <p class="testimonial__editor">{{post.testimonial_editor}}</p>
    </div>
  </section>
  {% include 'partials/_book.twig' with {
    'heading': 'Book an appointment online with one of our clinics to get your prescription today.',
    'button_text': 'Book Your Appointment'
  } %}
{% endblock %}
