{% extends "base.twig" %}

{% block content %}
	<section class="hero">
		<div class="wrap">
			<div class="hero__group">
				<div class="hero__content">
					<h1 class="hero__heading indent text-semibold">{{post.hero_heading}}</h1>
					<p class="hero__body">{{post.hero_body}}</p>
				</div>
			</div>
		</div>
	</section>
	<section class="leaf">
		<img class="leaf__image" src="/wp-content/uploads/Compass_leaf_transparent.png" alt="Leaf image" >
	</section>
	<section class="stat">
		<div class="wrap">
			<p class="fade-in indent xlarge stat__heading">{{post.stat_heading}}</p>
		</div>
	</section>
	<section class="store">
		<div class="wrap">
			<h2 class="indent store__heading">Clinics Signed and/or<br />in Development</h2>
			<p class="fade-in text-bold store__count">{{post.store_count}}</p>
			<p class="text-semibold text-em store__body">{{post.store_body}}</p>
			<img class="store__map" src="/wp-content/uploads/Compass_Map_2.0.png" alt="Map image" hidden aria-hidden="true">
		</div>
	</section>
	<section class="closer">
		<div class="wrap">
			<p class="fade-in xlarge bold closer__heading">{{post.closer_heading}}</p>
		</div>
	</section>
	<section class="presentation">
		<div class="wrap">
			<div class="presentation__group">
				<div class="presentation__content">
					<!--<p class="presentation__heading">{{post.presentation_heading}}</p>-->
					<!--<p class="presentation__body">{{post.presentation_body}}</p>-->
					{{post.presentation_shortcode | shortcodes}}
				</div>
			</div>
		</div>
	</section>
	{% include 'partials/_book.twig' with {
		'heading': 'Book an appointment online with one of our clinics to get your prescription today.',
    'button_text': 'Book Your Appointment'
	} %}
{% endblock %}
