{% extends "base.twig" %}

{% block content %}
  <section class="hero">
    <div class="wrap">
      <div class="hero__group">
        <div class="hero__content">
          <h3>Thank you for contacting us.<br /<br />We will follow up with you in regard to your next appointment. Please allow up to a few days for a follow up from one of our Client Coordinators.<br /><br />Your patience is highly appreciated. <a href="/category/blog/">In the meantime please check out our blog.</a></h3>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
