{% extends "base.twig" %}

{% block content %}
  <section class="hero">
    <div class="wrap">
      <img class="hero__logo" src="{{site.theme.link}}/dist/img/logo-full-dark.svg" alt="Compass Cannabis Clinic logo" aria-hidden="true">
      <p class="indent text-bold hero__heading">{{post.hero_heading}}</p>
      <a class="btn-alt hero__button" href="#jump">Join the Movement</a>
      <img class="hero__icon" src="{{site.theme.link}}/dist/img/icons/icon-graph.svg" alt="Graph icon" hidden aria-hidden="true">
    </div>
  </section>
  <section class="stat">
    <div class="wrap">
      <p class="fade-in indent xlarge stat__heading">{{post.stat_heading}}</p>
    </div>
  </section>
  <section class="store">
    <div class="wrap">
      <h2 class="indent store__heading">Clinics Signed and/or<br />in Development</h2>
      <p class="fade-in text-bold store__count">{{post.store_count}}</p>
      <p class="text-semibold text-em store__body">{{post.store_body}}</p>
      <img class="store__map" src="/wp-content/uploads/Compass_Map_2.0.png" alt="Map image" hidden aria-hidden="true">
    </div>
  </section>
  <section class="closer">
    <div class="wrap">
      <p class="fade-in xlarge bold closer__heading">{{post.closer_heading}}</p>
    </div>
  </section>
  <section class="form">
    <a name="jump"></a>
    <div class="wrap">
      <div class="form__container">
        <div class="form__header">
          <h2 class="form__heading">{{post.form_heading}}</h2>
        </div>
        <div class="form__body">
          {{post.form_shortcode | shortcodes}}
        </div>
      </div>
    </div>
  </section>
  <section class="contactform">
    <div class="wrap">
      <div class="contactform__group">
        <div class="contactform__avatar-container">
          <img class="contactform__avatar" src="{{Image(post.contactform_avatar).src}}" alt="{{Image(post.contactform_avatar).alt}}">
        </div>
        <div class="contactform__info">
          <p class="contactform__name">{{post.contactform_name}}</p>
          <p class="contactform__title">{{post.contactform_title}}</p>
          <p class="contactform__email">{{post.contactform_email}}</p>
          <p class="contactform__phone">{{post.contactform_phone}}</p>
        </div>
        <div class="contactform__content">
          <p class="contactform__body">{{post.contactform_body}}</p>
        </div>
        <div class="contactform__input">
        <!--<form method="post" action="mailto:cody.stgodard@compasscannabis.ca" target="_top">
            <input type="submit" value="Email Cody" class="contactform__button" />
          </form>-->
          <a target="_top" href="mailto:cody.stgodard@compasscannabis.ca">Email Cody</a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
