{% extends "base.twig" %}

{% block content %}
  <section class="hero">
    <div class="wrap">
      <img class="hero__logo" src="{{site.theme.link}}/dist/img/logo-full-dark.svg" alt="Compass Cannabis Clinic logo" aria-hidden="true">
      <h2 class="indent hero__heading">{{post.hero_heading}}</h2>
      <p class="hero__subheading">{{post.hero_subheading}}</p>
      <!--<a class="btn-alt hero__button input-health" href="#">{{post.hero_button_text}}</a>
      --><img class="hero__icon" src="{{site.theme.link}}/dist/img/icons/icon-clipboard.svg" alt="Clipboard icon" hidden aria-hidden="true">
    </div>
  </section>
  <section class="branding">
    <div class="wrap">
      <div class="branding__group">
        <!--<div class="branding__image-container">
          <img class="branding__image" src="{{Image(post.branding_image).src}}" alt="{{Image(post.branding_image).alt}}">
        </div>-->
        <div class="branding__content ">
          <h2 class="indent branding__heading ">{{post.branding_heading}}</h2>
          <p class="branding__topcontent ">{{post.branding_topcontent}}</p>
          <div class="branding__brand-image-container ">
            <a href="https://www.tweedmainstreet.com/" target="_blank"><img class="branding__tweedlogo  " src="/wp-content/uploads/tweedmainst_logos_final.png" onmouseover="this.src='/wp-content/uploads/tweedmainst_logos_hover-1.png';" onmouseout="this.src='/wp-content/uploads/tweedmainst_logos_final.png';" alt="Tweed"></a>
            <a href="https://aphria.ca/" target="_blank"><img class="branding__aphrialogo  " src="/wp-content/uploads/aphria_logos_final.png" onmouseover="this.src='/wp-content/uploads/aphria_logos_hover-1.png';" onmouseout="this.src='/wp-content/uploads/aphria_logos_final.png';" alt="Aphria"></a>
            <!--<a href="https://canadasislandgarden.com/" target="_blank"><img class="branding__islandgardenlogo  " src="/wp-content/uploads/canadaisland_logos_final.png" onmouseover="this.src='/wp-content/uploads/canadaisland_logos_hover-1.png';" onmouseout="this.src='/wp-content/uploads/canadaisland_logos_final.png';" alt="Island Garden"></a>-->
            <!--<a href="https://www.tweedmainstreet.com/pages/spectrum" target="_blank"><img class="branding__spectrumlogo  " src="/wp-content/uploads/spectrum_logos_final.png" onmouseover="this.src='/wp-content/uploads/spectrum_logos_hover-1.png';" onmouseout="this.src='/wp-content/uploads/spectrum_logos_final.png';" alt="Spectrum"></a>-->
            <!--<a href="https://www.tweedmainstreet.com/pages/grasslands" target="_blank"><img class="branding__grasslandslogo  " src="/wp-content/uploads/tweedgrass_logos_final.png" onmouseover="this.src='/wp-content/uploads/tweedgrass_logos_hover-1.png';" onmouseout="this.src='/wp-content/uploads/tweedgrass_logos_final.png';" alt="Tweed Grasslands"></a>-->
            <!--<a href="http://www.leafsbysnoop.com/" target="_blank"><img class="branding__snooplogo  " src="/wp-content/uploads/leafbysnoop_logos_final.png" onmouseover="this.src='/wp-content/uploads/leafbysnoop_logos_hover-1.png';" onmouseout="this.src='/wp-content/uploads/leafbysnoop_logos_final.png';" alt="Leafs by Snoop"></a>-->
            <!--<a href="https://www.tweedmainstreet.com/pages/craftgrow-collection" target="_blank"><img class="branding__craftgrowlogo  " src="/wp-content/uploads/craftgrow_logos_final.png" onmouseover="this.src='/wp-content/uploads/craftgrow_logos_hover-1.png';" onmouseout="this.src='/wp-content/uploads/craftgrow_logos_final.png';" alt="Craftgrow"></a>-->
            <!--<a href="https://foriapleasure.com/" target="_blank"><img class="branding__forialogo  " src="/wp-content/uploads/foria_logos_final.png" onmouseover="this.src='/wp-content/uploads/foria_logos_hover-1.png';" onmouseout="this.src='/wp-content/uploads/foria_logos_final.png';" alt="Foria"></a>-->
            <a href="https://medreleaf.com/" target="_blank"><img class="branding__medreleaflogo  " src="/wp-content/uploads/MedReleaf_logos_Final.png" onmouseover="this.src='/wp-content/uploads/MedReleaf_logos_hover-1.png';" onmouseout="this.src='/wp-content/uploads/MedReleaf_logos_Final.png';" alt="MedReleaf"></a>
            <a href="https://www.brokencoast.ca/" target="_blank"><img class="branding__brokencoastlogo  " src="/wp-content/uploads/brokencoast_logos_final.png" onmouseover="this.src='/wp-content/uploads/brokencoast_logos_hover-1.png';" onmouseout="this.src='/wp-content/uploads/brokencoast_logos_final.png';" alt="Broken Coast"></a>
            <!--<a href="https://www.tweedmainstreet.com/pages/homegrow-collection" target="_blank"><img class="branding__homegrowlogo  " src="/wp-content/uploads/homegrow_logos_final.png" onmouseover="this.src='/wp-content/uploads/homegrow_logos_hover-1.png';" onmouseout="this.src='/wp-content/uploads/homegrow_logos_final.png';" alt="Home Grow"></a>-->
            <a href="http://www.abcannglobal.com/" target="_blank"><img class="branding__abcannlogo  " src="/wp-content/uploads/abcann_logos_final.png" onmouseover="this.src='/wp-content/uploads/abcann_logos_hover-1.png';" onmouseout="this.src='/wp-content/uploads/abcann_logos_final.png';" alt="AB Cann Global"></a>
            <a href="https://www.organigram.ca/" target="_blank"><img class="branding__organigramlogo  " src="/wp-content/uploads/organigram_logos_final.png" onmouseover="this.src='/wp-content/uploads/organigram_logos_hover-1.png';" onmouseout="this.src='/wp-content/uploads/organigram_logos_final.png';" alt="OrganiGram"></a>
            <a href="https://www.thehydropothecary.com/" target="_blank"><img class="branding__hydropotlogo  " src="/wp-content/uploads/hydropothecary_logos_final.png" onmouseover="this.src='/wp-content/uploads/hydropothecary_logos_hover-1.png';" onmouseout="this.src='/wp-content/uploads/hydropothecary_logos_final.png';" alt="Hydropothecary"></a>
            <a href="https://auroramj.com/" target="_blank"><img class="branding__auroralogo  " src="/wp-content/uploads/aurora_logos_final.png" onmouseover="this.src='/wp-content/uploads/aurora_logos_hover-1.png';" onmouseout="this.src='/wp-content/uploads/aurora_logos_final.png';" alt="Aurora"></a>
            <a href="https://maricann.com/" target="_blank"><img class="branding__maricannlogo  " src="/wp-content/uploads/maricann_logos_final.png" onmouseover="this.src='/wp-content/uploads/maricann_logos_hover-1.png';" onmouseout="this.src='/wp-content/uploads/maricann_logos_final.png';" alt="Maricann"></a>
            <!--<a href="http://dnagenetics.com/" target="_blank"><img class="branding__dnalogo  " src="/wp-content/uploads/dna_logos_final.png" onmouseover="this.src='/wp-content/uploads/dna_logos_hover-1.png';" onmouseout="this.src='/wp-content/uploads/dna_logos_final.png';" alt="DNA Genetics"></a>-->
            <!--<a href="https://www.tweedmainstreet.com/pages/black-label-softgels" target="_blank"><img class="branding__blacklabellogo  " src="/wp-content/uploads/blacklabel_logos_final.png" onmouseover="this.src='/wp-content/uploads/blacklabel_logos_hover-1.png';" onmouseout="this.src='/wp-content/uploads/blacklabel_logos_final.png';" alt="Black Label"></a>-->
            <!--<a href="https://www.tweedmainstreet.com/pages/bedrocan" target="_blank"><img class="branding__bedrocanlogo  " src="/wp-content/uploads/bedrocan_logos_final.png" onmouseover="this.src='/wp-content/uploads/bedrocan_logos_hover-1.png';" onmouseout="this.src='/wp-content/uploads/bedrocan_logos_final.png';" alt="Bedrocan"></a>-->
            <a href="http://emblemcorp.com/" target="_blank"><img class="branding__emblemlogo  " src="/wp-content/uploads/emblem_logos_final.png" onmouseover="this.src='/wp-content/uploads/emblem_logos_hover-1.png';" onmouseout="this.src='/wp-content/uploads/emblem_logos_final.png';" alt="Emblem"></a>
            <a href="https://www.cannafarms.ca/" target="_blank"><img class="branding__cannafarms  " src="/wp-content/uploads/cannafarms_logos_final.png" onmouseover="this.src='/wp-content/uploads/cannafarms_logos_hover-1.png';" onmouseout="this.src='/wp-content/uploads/cannafarms_logos_final.png';" alt="Cannafarms"></a>
            <a href="https://canntrust.ca/" target="_blank"><img class="branding__canntrust  " src="/wp-content/uploads/canntrust_logos_final.png" onmouseover="this.src='/wp-content/uploads/canntrust_logos_hover-1.png';" onmouseout="this.src='/wp-content/uploads/canntrust_logos_final.png';" alt="Canntrust"></a>
            <a href="https://www.peacenaturals.com/" target="_blank"><img class="branding__peace  " src="/wp-content/uploads/peace_logos_final.png" onmouseover="this.src='/wp-content/uploads/peace_logos_hover-1.png';" onmouseout="this.src='/wp-content/uploads/peace_logos_final.png';" alt="Peace Naturals"></a>
            <a href="https://www.tilray.ca/" target="_blank"><img class="branding__tilray  " src="/wp-content/uploads/tilray_logos_final.png" onmouseover="this.src='/wp-content/uploads/tilray_logos_hover.png';" onmouseout="this.src='/wp-content/uploads/tilray_logos_final.png';" alt="Tilray"></a>
            <!--<a href="https://flowr.ca/" target="_blank">--><img class="branding__flowr  " src="/wp-content/uploads/flowr_logos_final_comingsoon.png" onmouseout="this.src='/wp-content/uploads/flowr_logos_final_comingsoon.png';" alt="Flowr"><!--</a>-->
          </div>
          <!-- Code for Flowr hover -->
          <!-- onmouseover="this.src='/wp-content/uploads/flowr_logos_hover.png';" -->
          <!--<p class="branding__bottomcontent ">{{post.branding_bottomcontent}}</p>-->
          <!--<div class="branding__input  ">
              <a id="connect__lp-button" target="_top" href="mailto:admin@compasscannabis.ca" class="btn-alt book__button">Connect with an LP</a>
          </div>-->
        </div>
      </div>
    </div>
  </section>
  <section class="aboutservice">
    <div class="wrap">
      <p class="aboutservice__body  ">{{post.aboutservice_body}}</p>
    </div>
  </section>
  <section class="fyi">
    <div class="wrap">
      <h3 class="fyi__heading">{{post.fyi_heading}}</h3>
      <div class="fyi__items-container">
        {% for item in post.get_field('fyi_list') %}
        <div class="fyi__list">
          <div class="fyi__group">
            <img class="fyi__bullet" src="{{Image(item.bullet).src}}" alt="{{Image(item.bullet).alt}}">
            <p class="fyi__item">{{item.item}}</p>
          </div>
         </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <section class="benefits">
    <img class="benefits__icon  " src="{{site.theme.link}}/dist/img/icons/icon-leaf.svg" alt="Leaf icon" aria-hidden="true">
    <div class="wrap">
      <h2 class=" indent benefit__heading  ">{{post.benefit_heading}}</h2>
      <div class="benefits__item-container  ">
      <p class="benefits__content  ">Cannabis has proven to be an effective alternative medicine in the reduction of symptoms associated with the following ailments.<br /><br /></p>
      <div class=" text-semibold benefit__list">{{post.benefit_list}}</div>
      </div>
    </div>
  </section>
  {% include 'partials/_book.twig' with {
    'heading': post.book_heading,
    'button_text': post.book_button_text
  } %}
{% endblock %}
