{% extends "base.twig" %}

{% block content %}
  <section class="hero">
    <div class="wrap">
      <div class="hero__content">
        <h2 class="hero__heading">{{post.hero_heading}}</h2>
      </div>
    </div>
  </section>
  <section class="form">
    <div class="wrap">
      <div class="form__container">
        <div class="form__body">
          {{post.form_shortcode | shortcodes}}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
