{% extends "base.twig" %}

{% block content %}
	<section class="test">
		<div class="testwrap">
			<p class="test__editor">{{post.test_editor}}</p>
		</div>
	</section>
	{% include 'partials/_book.twig' with {
		'heading': post.book_heading,
		'button_text': post.book_button_text
	} %}
{% endblock %}
