{% extends "base.twig" %}

{% block content %}
	<section class="hero">
		<div class="wrap">
			<div class="hero__group">
				<div class="hero__content">
					<img class="hero__logo" src="{{site.theme.link}}/dist/img/logo-full-light.svg" alt="Compass Cannabis Clinic logo">
					<h1 class="hero__heading text-semibold">{{post.hero_heading}}</h1>
					<a class="btn-mod hero__button-link" id="hero__booking-button" href="/booking/" title+"Booking">{{post.hero_button_text}}</a>
				</div>
				<div class="hero__image-container">
					 <img class="hero__image" src="{{site.theme.link}}/dist/img/logo-icon-dark.svg" alt="Compass Cannabis Clinic icon" aria-hidden="true" hidden>
				</div>
			</div>
		</div>
	</section>
	<section class="callout">
		<div class="wrap wrap--narrow">
			<p class=" xlarge text-semibold callout__heading">{{post.callout_body}}</p>
		</div>
	</section>
	<section class="latest">
		<div class="latest">
			<p class="latest__editor">{{post.latest_editor}}</p>
		</div>
	</section>
	<section class="about">
		<div class="wrap">
			<div class="about__group">
				<div class="about__content">
					<img class="about__logo" src="{{site.theme.link}}/dist/img/logo-full-dark.svg" alt="">
					<p class=" xlarge indent about__heading">{{post.about_heading}}</p>
					{% for item in post.get_field('about_features') %}
					<div class=" feature">
						<div class="feature__group">
							<div class="feature__image-container">
								{% if item.type == 'image'%}
								<img class="icon-sm feature__image feature__image--image" src="{{Image(item.image).src}}" alt="{{Image(item.image).alt}}" aria-hidden="true">
								{% else %}
								<img class="icon-sm feature__image feature__image--icon" src="{{site.theme.link}}/dist/img/icons/icon-{{item.icon}}" alt="Featured item icon" aria-hidden="true">
								{% endif %}
							</div>
							<div class="feature__content">
								<h3 class="feature__heading">{{item.heading}}</h3>
								<p class="feature__body">{{item.body}}</p>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="about__image-container">
					<img class="about__image" src="/wp-content/uploads/download.jpg" alt="Herb Image" aria-hidden="true" hidden>
				</div>
			</div>
		</div>
	</section>
	<section class="investment">
		<div class="wrap">
			<div class="investment__content">
				<p class=" xlarge indent investment__heading">{{post.investment_heading}}</p>
				{% for item in post.get_field('investment_items') %}
				<div class=" items">
					<div class="items__group">
						<div class="items__image-container">
							{% if item.type == 'image'%}
							<img class="icon-sm items__image feature__image--image" src="{{Image(item.image).src}}" alt="{{Image(item.image).alt}}" aria-hidden="true">
							{% else %}
							<img class="icon-sm items__image feature__image--icon" src="{{site.theme.link}}/dist/img/icons/icon-{{item.icon}}" alt="Featured item icon" aria-hidden="true">
							{% endif %}
						</div>
						<div class="items__content">
							<h3 class="items__subheading">{{item.subheading}}</h3>
							<p class="items__body">{{item.body}}</p>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
	{% include 'partials/_book.twig' with {
		'heading': post.book_heading,
		'button_text': post.book_button_text
	} %}
{% endblock %}
