{% extends "base.twig" %}

{% block content %}
	<section>
		<div class="wrap">
			<article class="post post-type-{{post.post_type}} post-{{post.ID}}" >
				<div class="post__meta">
					<h1 class="indent post__title">{{post.title}}</h1>
					<!--<p class="post__date">{{post.post_date|date}}</p>-->
				</div>
				<div class="post__image-container">
					{% if post.thumbnail.src %}
						<img class="post__image" src="{{post.thumbnail.src}}" alt="{{post.thumbnail.alt}}"/>
					{% endif %}
				</div>
				<div class="post__body">
					{{post.content}}
				</div>
			</article>
		</div>
	</section>
{% endblock %}
